@import '../../../../@theme/styles/themes.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

.email {
  font-weight: 500;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.modal-user {
  width: 40vw;
}

@include media-breakpoint-down(sm) {

  .modal-user {
    width: 80vw;
  }
}
