<nb-layout>
  <nb-layout-column style="background-color: black;">
    <div class="row content">
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="logo">
            <a href="#" (click)="navigateHome()">
              <img src="../../../../assets/images/logo-app.png" alt="App" height="60px" /></a>
          </div>
          <div class="col-12">
            <p class="presenting">
              ——
            </p>
          </div>
          <div class="col-12">
            <p class="wallet">
              PÁGINA
            </p>
            <br>
            <p class="wallet">
              NO
            </p>
            <br>
            <p class="wallet">
              ENCONTRADA
            </p>
          </div>
          <div class="col-12">
            <p class="divergenti">
              Error <span class="color-primary">404</span>
            </p>
          </div>
          <div class="col-12" style="padding-top: 3rem;">
            <button type="submit" nbButton nbTooltip="Actualizar" nbTooltipPlacement="top" status="primary" form="form"
              class=" p-mr-2 p-mb-2 button-outline" routerLink="/auth">
              <strong>Volver al inicio</strong>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div>
          <img src="../../../../assets/images/home.png" class="img-fluid" alt="Responsive image" />
        </div>
      </div>
    </div>

  </nb-layout-column>
</nb-layout>