<nb-layout>
  <nb-layout-column class="fondo">
    <div class="row content">
      <div class="col-12 col-lg-6">
        <div class="row ">
          <div class="logo">
            <a>
              <img src="../../../../assets/images/logo-app.png" alt="App" height="60px" /></a>
          </div>
        </div>
        <div class="col">
          <p class="divergenti">
            En Divergenti queremos acompañarte y verte crecer
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div>

          <form id="form" [formGroup]="formData" (ngSubmit)="Register()" novalidate style="height:100%; overflow: auto">
            <!-- <div class="modal-complete"> -->

            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-control-group">
                  <label class="label" for="input-economicSector"> SECTOR ECONÓMICO <span
                      class="text-danger">*</span></label>
                  <div>
                    <nb-select placeholder="Select Showcase" formControlName="economicSector" status="primary"
                      size="medium" style="width: 200px;">
                      <nb-option value="">Seleccione una opción</nb-option>
                      <nb-option *ngFor="let item of sectorEconomic" [value]="item.name">{{ item.name }}
                      </nb-option>
                    </nb-select>
                  </div>
                  <div *ngIf="formData.controls['economicSector'].invalid && (formData.controls['economicSector'].dirty ||
                          formData.controls['economicSector'].touched)" class="text-danger">
                    <div *ngIf="formData.controls['economicSector'].errors.required">
                      Sector económico es obligatorio.
                    </div>
                    <div *ngIf="formData.controls['economicSector'].errors.maxlength">
                      Maximo de caracteres
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <!-- <div class="col-xs-12 col-md-6">

                <div class="form-control-group">
                  <label class="label" for="input-city">TELÉFONO <span class="text-danger">*</span></label>
                  <input nbInput fullWidth formControlName="telephone" placeholder="Ingrese su teléfono" id="input-city"
                    class="input-third" status="primary">
                  <div *ngIf="formData.controls['telephone'].invalid && (formData.controls['telephone'].dirty ||
                        formData.controls['telephone'].touched)" class="text-danger">
                    <div *ngIf="formData.controls['telephone'].errors.maxlength">
                      Maximo de caracteres
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="col-12 col-md-6 col-lg-6 ">
                <label class="label" for="input-country">TELÉFONO <span class="text-danger">*</span></label>
                <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.Ecuador" [maxLength]="15" [phoneValidation]="true"
                  [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="phone"
                  formControlName="telephone">
                </ngx-intl-tel-input>
                <div *ngIf="formData.controls['telephone'].invalid && (formData.controls['telephone'].dirty ||
                              formData.controls['telephone'].touched)" class="text-danger">
                  <div *ngIf="formData.controls['telephone'].errors.required">
                    Teléfono es obligatorio.
                  </div>
                  <div *ngIf="formData.controls['telephone'].errors.maxlength">
                    Maximo de caracteres
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-control-group">
                  <label class="label" for="input-country">PAÍS <span class="text-danger">*</span></label>
                  <div>
                    <nb-select placeholder="Select Showcase" formControlName="country" style="width: 200px;"
                      status="primary" size="medium">
                      <nb-option value="">Seleccione un país</nb-option>
                      <nb-option *ngFor="let item of pais" [value]="item.name"> <img src="{{item.flag }} " alt=""
                          width="24px" height="16px" style="padding-right: 5px;">
                        {{item.name}}
                      </nb-option>
                    </nb-select>
                  </div>
                  <div *ngIf="formData.controls['country'].invalid && (formData.controls['country'].dirty ||
                          formData.controls['country'].touched)" class="text-danger">
                    <div *ngIf="formData.controls['country'].errors.required">
                      País es obligatorio.
                    </div>
                    <div *ngIf="formData.controls['country'].errors.maxlength">
                      Maximo de caracteres
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-control-group">
                  <label class="label" for="input-city">CIUDAD <span class="text-danger">*</span></label>
                  <input nbInput fullWidth formControlName="city" placeholder="Ingrese su ciudad" id="input-city"
                    class="input-third" status="primary">
                  <div *ngIf="formData.controls['city'].invalid && (formData.controls['city'].dirty ||
                          formData.controls['city'].touched)" class="text-danger">
                    <div *ngIf="formData.controls['city'].errors.required">
                      Ciudad es obligatorio.
                    </div>
                    <div *ngIf="formData.controls['city'].errors.maxlength">
                      Maximo de caracteres
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-control-group">
                  <label class="label" for="input-linkedin">LINKEDIN </label>
                  <input nbInput fullWidth formControlName="linkedin" placeholder="Ingrese su linkedin"
                    class="input-third" status="primary" id="input-linkedin">
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-control-group">
                  <label class="label" for="input-instagram">INSTAGRAM</label>
                  <input nbInput fullWidth formControlName="instagram" placeholder="Ingrese su instagram"
                    class="input-third" status="primary" id="input-instagram">
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-control-group">
                  <label class="label" for="input-website">SITIO WEB</label>
                  <input nbInput fullWidth formControlName="website" placeholder="Ingrese su dirección web"
                    class="input-third" status="primary" id="input-website">
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <div class="form-control-group">
                  <label class="label" for="input-summary">RESUMEN PERFIL <span class="text-danger">*</span></label>
                  <textarea nbInput fullWidth formControlName="summary" class="input-third" status="primary"
                    placeholder="Ingrese un resumen detallado de su perfil"></textarea>
                  <div *ngIf="formData.controls['summary'].invalid && (formData.controls['summary'].dirty ||
                          formData.controls['summary'].touched)" class="text-danger">
                    <div *ngIf="formData.controls['summary'].errors.required">
                      Resumen es obligatorio.
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <br>
            <div style="width:80%;  text-align: center; margin: 1rem; ">
              <button nbButton type="submit" nbTooltip="{{'Registrar información de la empresa'}}"
                nbTooltipPlacement="top" [disabled]="!formData.valid" shape="round" form="form" size="small"
                class="p-mr-2" status="primary">
                <nb-icon icon="save" pack="font-awesome-solid" class="icon-size"></nb-icon>
                Registrar
              </button>
            </div>
            <!-- </div> -->
          </form>
        </div>
      </div>
    </div>



  </nb-layout-column>
</nb-layout>
