.title {
    text-align: center;
}

.objective {
    padding-top: 1rem;
    text-align: justify;
}

.section-title {
    text-align: start;
    font-size: medium;
}

.feedback {
    font-size: medium;
    color: black;
    font-weight: 500;
}
