<div class="title">
    <h4>{{questionary.questionaryTitle}}</h4>
</div>
<nb-card size="lage" style="background-color: white; margin-top: 2rem;">
    <nb-card-body style="color: black;">
        <div *ngIf="!enabledQuestionary">
            <div class="objective">
                <div [innerHTML]="getWithEnterDisplay(questionary.objective)"></div>
            </div>
            <div style="padding-top: 3rem;">
                <nb-checkbox (checkedChange)="toggle($event)"><strong>Estoy de Acuerdo, en compartir los datos
                        de
                        diagnostico y
                        de
                        contacto
                        con DivergenTi</strong></nb-checkbox>
            </div>
            <div style="margin-top: 2rem;">
                <button nbButton outline size="small" class="p-mr-2" (click)="onBack()">
                    <nb-icon icon="arrow-back-outline" class="icon"></nb-icon>Volver
                </button>
                <button nbButton size="small" class="p-mr-2" [disabled]="!nextQuestionary"
                    (click)="onEnabledQuestionary()">
                    Continuar
                    <nb-icon icon="arrow-forward-outline" class="icon"></nb-icon>
                </button>
            </div>
        </div>
        <div *ngIf="enabledQuestionary">
            <div *ngIf="loadingSection">Cargando...</div>
            <div *ngIf="errorSection">Hubo un problema intenta más tarde</div>
        </div>
        <div *ngIf="showSection" style="margin-top: 1rem;">
            <div class="section-title">
                <h6> {{showSection.section.sectionName}}</h6>
            </div>
            <!--Formulario-->
            <form [formGroup]="showSection.formGroup" *ngIf="!showSection.totalScore>0">
                <div>
                    <div *ngFor="let question of showSection.questionsBuild" class="form-row">
                        <ngx-diagnosis-todo-form-question [question]="question" [form]="showSection.formGroup">
                        </ngx-diagnosis-todo-form-question>
                    </div>
                </div>
                <div style="margin-top: 2rem;">
                    <button nbButton outline size="small" class="p-mr-2" (click)="onBackSection(showSection.index)"
                        [disabled]="loadingFeedback">
                        <nb-icon icon="arrow-back-outline" class="icon"></nb-icon>
                    </button>
                    <button nbButton size="small" status="success" class="p-mr-2" type="submit"
                        [disabled]="!showSection.formGroup.valid || loadingFeedback"
                        (click)="onFeedback(showSection.formGroup.value)">
                        {{loadingFeedback?'Analizando..':'Siguiente Paso'}}
                    </button>
                </div>
            </form>
            <!--Retro alimentación-->
            <div *ngIf="showSection.totalScore && !errorFeedback" style="margin-top: 2rem;">
                <div class="feedback">
                    De acuerdo a su Score de <strong>{{showSection.totalScore}}</strong>,
                    su organización se encuentra en el nivel <strong>{{showSection.feedback.level}}</strong>. Nuestro
                    asistente
                    virtual Mich@ te
                    recomienda las siguientes acciones:
                    <div style="margin-top: 1rem;">
                        <p><strong>
                                <div [innerHTML]="getWithEnterDisplay(showSection.feedback.recommendation)"></div>
                            </strong></p>
                    </div>
                </div>
                <div style="margin-top: 2rem;">
                    <button *ngIf="!finished" nbButton outline size="small" class="p-mr-2" (click)="onBackForm()"
                        [disabled]="loadingSave">
                        <nb-icon icon="arrow-back-outline" class="icon"></nb-icon>
                    </button>
                    <button *ngIf="!finished" nbButton size="small" status="success" class="p-mr-2" type="submit"
                        [disabled]="!showSection.formGroup.valid || loadingSave"
                        (click)="onNextSection(showSection.index,null, null)">
                        {{loadingSave?'Guardando...':'Siguiente Paso'}}
                    </button>
                    <button *ngIf="finished" nbButton size="small" class="p-mr-2"
                        [routerLink]="['../../done/', sectionAnswerCreate.questionaryDoneId,'report']">
                        Finalizar
                    </button>
                </div>
            </div>
            <div *ngIf="showSection.totalScore && errorFeedback">
                <div class="text-danger">
                    Hubo un problema, intenta más tarde
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>