<nb-layout>
  <nb-layout-header style="background-color: black;">
    <div class="logo-black col-12 ">
      <a href="/auth">
        <img src="../../../../assets/images/logo-app.png" alt="App" height="40px" /></a>
    </div>
  </nb-layout-header>
  <nb-layout-column class="fondo">
    <div class="row content">
      <div class="col-12 col-lg-6">
        <p class="subtitulo3">Haz tu</p>
        <p class="subtitulo4">Perfect Match</p>
        <p class="subtitulo3-5">y encuentra tu</p>
        <p class="subtitulo4-5">Talento Digital</p>
        <div style="position:absolute; top:4rem; left:16rem;">
          <img src="../../../../assets/images/Arrow.png" style="width:85%;height:85%;">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="continer-right">
          <p class="titulo2">ÚNETE A LA COMUNIDAD <br> COLABORATIVA Y DESCENTRALIZADA <br> DE TALENTOS DIGITALES Y PYMES
            DE <br>
            FORMA LIBRE Y FLEXIBLE PARA EL</p>
          <p class="subtitulo2">ÉXITO DE LA ERA DIGITAL</p>

          <button shape="round" class="btn-registrar" type="button" nbButton routerLink="/auth"
            style="width: 15vw;">Iniciar Sesión</button>
        </div>
        <div class="continer-right">
          <p class="titulo2">QUIERO VER <br> QUE HAY EN LA COMUNIDAD</p>
          <p class="subtitulo2">DE INTERCAMBIO</p>
          <button shape="round" class="btn-registrar" type="button" nbButton routerLink="/market"
            style="width: 15vw;">Ir a Marketplace</button>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
