<button nbButton size="small" class="p-mr-2" (click)="onCreate()">
    <nb-icon icon="plus-outline" class="icon"></nb-icon>Nueva recompesa
</button>
<!--Crear-->
    <ngx-reward-form *ngIf="reward && displayCreate" (closeModal)="onClose()" (success)="onSuccess()"
        [displayCreate]="displayCreate" [reward]="reward">
    </ngx-reward-form>
    <ngx-reward-form *ngIf="!reward && displayCreate" (closeModal)="onClose()" (success)="onSuccess()"
        [displayCreate]="displayCreate">
    </ngx-reward-form>

<!--Lista-->
<div style="margin-top: 1rem;">
    <ngx-reward-list (updateEvent)="onUpdate($event)"></ngx-reward-list>
</div>