<button nbButton outline size="small" class="p-mr-2" (click)="onBack()">
    <nb-icon icon="arrow-back-outline" class="icon"></nb-icon>Volver
</button>

<div class="title">
    <h4>{{opportunity.title}}</h4>
</div>
<nb-card size="lage" style="background-color: white; margin-top: 2rem;">
    <nb-card-body style="color: black;">
        <div class="p-grid p-jc-md-between">
            <div>
                <nb-user [name]="opportunity.talentAssinged.user" [title]="opportunity.talentAssinged.email"
                    [picture]="'data:image/jpg;base64,'+opportunity.talentAssinged.avatar" size="giant">
                </nb-user>
            </div>
            <div style="margin-top: 1rem;">
                <span class="badge badge-primary date-complete">
                    {{opportunity.dateCompleted | date: 'MM-dd-yyyy'}}
                </span>
            </div>
        </div>
        <div>
            <div *ngIf="loadingSection">Cargando...</div>
            <div *ngIf="errorSection">Hubo un problema intenta más tarde</div>
        </div>
        <div>
            <form [formGroup]="showSection.formGroup" *ngIf="showSection">
                <div>
                    <div *ngFor="let question of showSection.questionsBuild" class="form-row">
                        <ngx-diagnosis-todo-form-question [question]="question" [form]="showSection.formGroup">
                        </ngx-diagnosis-todo-form-question>
                    </div>
                </div>
                <div style="margin-top: 2rem;">
                    <button *ngIf="!finished" nbButton size="small" status="success" class="p-mr-2" type="submit"
                        [disabled]="!showSection.formGroup.valid || loadingSave"
                        (click)="onNextSection(showSection.index, showSection.formGroup.value, opportunity.id)">
                        {{loadingSave?'Guardando...':'Siguiente Paso'}}
                    </button>
                    <button *ngIf="finished" nbButton size="small" class="p-mr-2" [routerLink]="['../..']">
                        Finalizar
                    </button>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>