    <p-dialog [header]="(user?'Actualizar ':'Nuevo') +' usuario'" [(visible)]="displayCreate" [modal]="true"
      [closable]="false" [draggable]="false" [resizable]="false">

      <div class="modal-create">

        <form [formGroup]="formUser" (ngSubmit)="save()" aria-labelledby="title">

          <div class="modal-complete" *ngIf="!user">
            <div class="row">
              <div class="form-group col-12 col-md-3">
                <div class="personal-image" style="margin-left: 1rem;">
                  <label class="label">
                    <input type="file" class="file-upload" accept="image/png, image/jpeg" (change)="cambiarImg($event)"
                      formControlName="avatar" />
                    <figure class="personal-figure">
                      <img [src]="viewImage? viewImage : avatarUser " class="personal-avatar" alt="avatar">
                      <figcaption class="personal-figcaption">
                        <img
                          src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
                      </figcaption>
                    </figure>
                  </label>
                </div>
                <label for="">Subir imagen</label>
              </div>

              <div class="form-group col-12 col-md-4">
                <label class="label-basic" for="input-namuser">Username<span class="text-danger">*</span></label>
                <input nbInput fullWidth formControlName="username" placeholder="Ingrese el nombre de usuario">
                <div *ngIf="formUser.controls['username'].invalid && (formUser.controls['username'].dirty ||
          formUser.controls['username'].touched)" class="text-danger">
                  <div *ngIf="formUser.controls['username'].errors.required">
                    Username es obligatorio.
                  </div>
                </div>
              </div>


              <div class="form-group col-12 col-md-4">
                <label class="label-basic" for="input-email">Email<span class="text-danger">*</span></label>
                <input nbInput fullWidth formControlName="email" placeholder="Ingrese el email">
                <div *ngIf="formUser.controls['email'].invalid && (formUser.controls['email'].dirty
           ||formUser.controls['email'].touched)" class="text-danger">
                  <div *ngIf="formUser.controls['email'].errors.required">
                    Correo electrónico es obligatorio.
                  </div>
                  <div *ngIf="formUser.controls['email'].errors.email">
                    Ingrese un correo electronico valido
                  </div>
                </div>
              </div>
              <div class="form-group col-12 col-md-6">
                <label class="label-basic" for="input-firstName">Nombre<span class="text-danger">*</span></label>
                <input nbInput fullWidth formControlName="firstName" placeholder="Ingrese el nombre">
                <div *ngIf="formUser.controls['firstName'].invalid && (formUser.controls['firstName'].dirty ||
          formUser.controls['firstName'].touched)" class="text-danger">
                  <div *ngIf="formUser.controls['firstName'].errors.required">
                    Nombre es obligatorio.
                  </div>
                </div>
              </div>
              <div class="form-group col-12 col-md-6">
                <label class="label-basic" for="input-lastName">Apellido<span class="text-danger">*</span></label>
                <input nbInput fullWidth formControlName="lastName" placeholder="Ingrese el apellido">
                <div *ngIf="formUser.controls['lastName'].invalid && (formUser.controls['lastName'].dirty ||
          formUser.controls['lastName'].touched)" class="text-danger">
                  <div *ngIf="formUser.controls['lastName'].errors.required">
                    Apellido es obligatorio.
                  </div>
                </div>
              </div>
              <div class="form-group col-12 col-md-6">
                <span class="label-with-link">
                  <label class="label-basic" for="input-password">Contraseña <span class="text-danger">*</span></label>
                </span>
                <nb-form-field>
                  <input nbInput fullWidth formControlName="password" placeholder="Ingrese su contraseña"
                    [type]="showPassword?'text':'password'">
                  <button style="background-color: white;" nbSuffix nbButton type="button" (click)="toggleShowPassword()" class="button-icon">
                    <nb-icon style="color: black;" [icon]="showPassword ? 'eye-off-outline' : 'eye-outline'" pack="eva"
                      [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                    </nb-icon>
                  </button>
                </nb-form-field>
                <div *ngIf="formUser.controls['password'].invalid && (formUser.controls['password'].dirty ||
          formUser.controls['password'].touched)" class="text-danger">
                  <div *ngIf="formUser.controls['password'].errors.required">
                    Contraseña es obligatorio.
                  </div>
                </div>
              </div>
              <div class="form-group col-12 col-md-6">
                <label class="label-basic" for="input-walletAddress">Wallet</label>
                <input nbInput fullWidth formControlName="walletAddress" placeholder="Ingrese la wallet">
              </div>

              <div class="form-group col-12 col-md-6">
                <label class="label-basic" for="input-role">Rol<span class="text-danger">*</span></label>
                <div>
                  <nb-radio-group formControlName="role">
                    <nb-radio value="users">Talento</nb-radio>
                    <nb-radio value="pyme">Pyme</nb-radio>
                  </nb-radio-group>
                </div>
                <br>
                <div *ngIf="formUser.controls['role'].invalid && (formUser.controls['role'].dirty
          || formUser.controls['role'].touched)" class="text-danger">
                  <div *ngIf="formUser.controls['role'].errors.required">
                    Rol es obligatorio.
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="modal-complete" *ngIf="user">
            <div class="row">
              <div class="form-group col-12 col-md-3">
                <div class="personal-image" style="margin-left: 1rem;">
                  <label class="label">
                    <input type="file" class="file-upload" accept="image/png, image/jpeg" (change)="cambiarImg($event)"
                      formControlName="avatar" />
                    <figure class="personal-figure">
                      <img [src]="viewImage? viewImage : avatarUser " class="personal-avatar" alt="avatar">
                      <figcaption class="personal-figcaption">
                        <img
                          src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
                      </figcaption>
                    </figure>
                  </label>
                  <br>
                  <label for="">Subir imagen</label>
                </div>
              </div>
              <div class="form-group col-12 col-md-4">
                <label class="label-basic" for="input-firstName">Nombre<span class="text-danger">*</span></label>
                <input nbInput fullWidth formControlName="firstName" placeholder="Ingrese el nombre">
                <div *ngIf="formUser.controls['firstName'].invalid && (formUser.controls['firstName'].dirty ||
          formUser.controls['firstName'].touched)" class="text-danger">
                  <div *ngIf="formUser.controls['firstName'].errors.required">
                    Nombre es obligatorio.
                  </div>
                </div>
              </div>
              <div class="form-group col-12 col-md-4">
                <label class="label-basic" for="input-lastName">Apellido<span class="text-danger">*</span></label>
                <input nbInput fullWidth formControlName="lastName" placeholder="Ingrese el apellido">
                <div *ngIf="formUser.controls['lastName'].invalid && (formUser.controls['lastName'].dirty ||
          formUser.controls['lastName'].touched)" class="text-danger">
                  <div *ngIf="formUser.controls['lastName'].errors.required">
                    Apellido es obligatorio.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <p-footer>
        <div class="detail-action p-grid p-jc-end">

          <button nbButton outline type="button" class=" p-mr-2 p-mb-2 button-outline" [disabled]="loading"
            (click)="onClosed()">
            Cancelar
          </button>

          <button nbButton (click)="save()" status="primary" class=" p-mr-2 p-mb-2 button-outline"
            [disabled]="loading || formUser.invalid">
            {{user?(loading?'Actualizando':'Actualizar'):(loading?'Guardando':'Guardar')}}
          </button>
        </div>
      </p-footer>
    </p-dialog>
