<div class="diagnostic">
  <div *ngIf="rol === 'pyme'">
    <h1 style="padding-bottom: -1px; margin: 0; padding-left: 1rem;  color: #807ee8;">COEFICIENTE TX</h1>
    <h6 style="padding-bottom: 2rem; padding-left: 1rem; color: white;">Seleccione una cuestionario</h6>
  </div>
  <div *ngIf="rol === 'users'">
    <h1 style="padding-bottom: -1px; margin: 0; padding-left: 1rem;  color: #9fffd5;">COEFICIENTE TX</h1>
    <h6 style="padding-bottom: 2rem; padding-left: 1rem; color: white;">Seleccione una cuestionario</h6>
  </div>

  <p-dataView #dv [loading]="!isLoaded" [value]="questionaries" filterBy="name" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="grid" *ngIf="rol === 'pyme'">
    <ng-template let-item pTemplate="gridItem">
      <div [class]="questionaries.length===1?'col-12':'col-12 col-lg-6'">
        <nb-card size="tiny" class="colorCardPyme">
          <nb-card-body><strong style="color: #9fffd5;">{{item.questionaryTitle}}</strong>
            <br>
            <div [nbTooltip]="item.objective">
              <label style="color: white;">{{item.objective}}</label>
            </div>
          </nb-card-body>
          <nb-card-footer>
            <div class="detail-action p-grid p-jc-end">
              <button nbButton status="primary" size="tiny" shape="round" class="p-mr-2"
                [routerLink]="[item.id, 'todo']">
                Completar
                <nb-icon icon="arrow-forward-outline" class="icon"></nb-icon>
              </button>
            </div>
          </nb-card-footer>
        </nb-card>
      </div>
    </ng-template>
  </p-dataView>

  <p-dataView #dv [loading]="!isLoaded" [value]="questionaries" filterBy="name" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="grid" *ngIf="rol === 'users'">
    <ng-template let-item pTemplate="gridItem">
      <div [class]="questionaries.length===1?'col-12':'col-12 col-lg-6'">
        <nb-card size="tiny" class="colorCard">
          <nb-card-body><strong style="color: #9fffd5;">{{item.questionaryTitle}}</strong>
            <br>
            <div [nbTooltip]="item.objective">
              <label style="color: white;">{{item.objective}}</label>
            </div>
          </nb-card-body>
          <nb-card-footer>
            <div class="detail-action p-grid p-jc-end">
              <button nbButton status="primary" size="tiny" shape="round" class="p-mr-2"
                [routerLink]="[item.id, 'todo']">
                Completar
                <nb-icon icon="arrow-forward-outline" class="icon"></nb-icon>
              </button>
            </div>
          </nb-card-footer>
        </nb-card>
      </div>
    </ng-template>
  </p-dataView>
  <div *ngIf="totalRecords>limitTable">
    <p-paginator [rows]="limitTable" [totalRecords]="totalRecords" (onPageChange)="onPaginate($event)"></p-paginator>
  </div>

</div>
