@import 'themes';

.nb-theme-divergenti nb-card-header {
    color: nb-theme(color-basic-50) !important;
    font-size: nb-theme(font-size-28) !important;
    font-weight: nb-theme(font-weight-bold) !important;
    padding-top: 2rem !important;
    padding-left: 2rem !important;
}

.nb-theme-divergenti nb-card-body {
    padding-left: 2rem !important;
    padding-bottom: 2rem !important; // si no hay footer
}

.card-basic {
    background-color:nb-theme(color-basic-50) !important;
    color: nb-theme(color-basic-900) !important;
}

.nb-theme-divergenti nb-card.c-card-pr {
    flex: 1;
    -ms-flex: 1 1 auto;
    overflow: auto;
    padding: 0 1px 1px 10px;
    position: relative;
    scrollbar-face-color: transparent;
    scrollbar-track-color: transparent;
    width: 100%;
}

.nb-theme-divergenti nb-card-body.card-body-user {
    padding-left: 0 !important;
    padding-bottom: 2rem !important;
}

.nb-theme-divergenti nb-card.size-tiny.c-card-pr {
    height: 16rem;
}

.nb-theme-divergenti nb-card {
    background-color: #8282e9;
    border: 0.0625rem solid transparent;
    border-radius: 2.75rem;
    box-shadow: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-bottom: 1.875rem;
    scrollbar-face-color: transparent;
    scrollbar-track-color: transparent;
}
