@import 'themes';

.p-dataview .p-dataview-header {
  background-color: transparent !important;
  border: none;
  font-family: nb-theme(font-family-primary);
}

.p-dataview-layout-options > button > i {
  color: nb-theme(color-basic-50) !important;
}

.p-dataview.p-dataview-list .p-dataview-content {
  background-color: transparent !important;
  font-family: nb-theme(font-family-primary);
}

.p-dataview.p-dataview-list .p-dataview-content > .p-grid > div {
  padding-bottom: 1rem;
  border: none;
}

.p-dataview.p-dataview-grid .p-dataview-content {
  background-color: transparent !important;
  font-family: nb-theme(font-family-primary);
}

.p-dataview.p-dataview-grid .p-dataview-content > .p-grid > div {
  padding-bottom: 1rem;
  border: none;
}

.p-selectbutton .p-button.p-highlight {
  background: nb-theme(color-basic-900);
  border-color: nb-theme(color-basic-900);
  color: nb-theme(color-basic-50);
}

.p-selectbutton .p-button.p-highlight:hover {
  background: nb-theme(color-basic-800);
  border-color: nb-theme(color-basic-800);
  color: nb-theme(color-basic-50);
}

.p-selectbutton .p-button.p-highlight:active {
  background: nb-theme(color-basic-1000);
  border-color: nb-theme(color-basic-1000);
  color: nb-theme(color-basic-50);
}

// Paginator

.p-paginator {
  margin-top: 1rem;
  background: transparent;
  color: nb-theme(color-basic-900);
  border: 0 none;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: nb-theme(color-basic-900);
  border-color: nb-theme(color-basic-900);
  border-radius: nb-theme(border-radius);
  color: nb-theme(color-basic-50);
}
.p-link:focus {
  box-shadow: none;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: #848484;
  min-width: 2.357rem;
  height: 2.357rem;
  margin: 0;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: nb-theme(border-radius);
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: #848484;
  min-width: 2.357rem;
  height: 2.357rem;
  margin: 0;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: nb-theme(border-radius);
}
