@import 'themes';


.input-primary:-webkit-autofill,
.input-primary:-webkit-autofill:hover,
.input-primary:-webkit-autofill:focus,
.input-primary:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: nb-theme(color-basic-50) !important;
    box-shadow: 0 0 0 1000px nb-theme(color-primary-500) inset !important;
}

.input-secondary:-webkit-autofill,
.input-secondary:-webkit-autofill:hover,
.input-secondary:-webkit-autofill:focus,
.input-secondary:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: nb-theme(color-basic-50) !important;
    box-shadow: 0 0 0 1000px nb-theme(color-secondary-300) inset !important;
}
.input-third:-webkit-autofill,
.input-third:-webkit-autofill:hover,
.input-third:-webkit-autofill:focus,
.input-third:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: nb-theme(color-basic-50) !important;
    box-shadow: 0 0 0 1000px nb-theme(color-basic-900) inset !important;
}
.input-fourth {
    border-radius: 20px !important;
    text-align: left;
    border: 1px solid nb-theme(color-secondary-230) !important;
    width: 100%;
    height: 2.5rem;
    padding-left: 8% !important;
}

.input-fourth::placeholder {
    color: nb-theme(color-basic-500) !important;
    font-size: small !important;
}
.inputSearchPyme::placeholder {
    color: nb-theme(color-basic-50) !important;
    font-size: small !important;
}
.inputSearchTalent::placeholder {
    color: nb-theme(color-basic-50) !important;
    font-size: small !important;
}
.input-fourth:hover {
    border: 2px solid nb-theme(color-secondary-400) !important;
}
.input-fourth:focus {
    border-radius: 20px !important;
    text-align: left;
    outline: none;
    color: nb-theme(color-basic-600) !important;
    font-size: medium;
    border: 2px solid nb-theme(color-secondary-400) !important;
    width: 100%;
    height: 2.5rem;
    padding-left: 8% !important;
}

