@import 'themes';

.nb-sidebar-right-secondary {
    border-top-left-radius: 3.875rem;
    border-bottom-left-radius: 3.875rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: nb-theme(color-secondary-300) !important;
    width: 40% !important;
}

.nb-sidebar-right-primary {
    border-top-left-radius: 3.875rem;
    border-bottom-left-radius: 3.875rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: nb-theme(color-basic-900) !important;
    width: 40% !important;
}

.sidebar-primary {
    // position: fixed;
    border-radius: 5%;
    background-color: nb-theme(color-basic-50) !important;
    width: 40% !important;
    height: 80%;
    top: 15%;
    right: 15%;
    padding: 0 2rem;
}
.sidebar-secondary {
    border-top-left-radius: 8.125rem;
    border-bottom-left-radius: 8.125rem;
    background-color: nb-theme(color-basic-900) !important;
    width: 40% !important;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 2rem;
}

/* ==================
Primeng
=============== */
.p-sidebar-right {
    height: calc(100%) !important;
    margin-top: 0 !important;
    border-top-left-radius: 8.125rem !important;
    border-bottom-left-radius: 8.125rem !important;
    background-color: nb-theme(color-basic-900) !important;
    width: 30% !important;
    border: none;
    font-family: nb-theme(font-family-primary);
}

.p-sidebar-mask.p-component-overlay {
    margin-top: 0 !important;
}

.sidebar-content {
    padding: 5rem 2rem 2rem;
    font-family: nb-theme(font-family-primary);
}

.pi {
    color: nb-theme(color-basic-900) !important;
}

// Dialog - Modal
.p-dialog {
    border-radius: 2.75rem !important;
    background-color: nb-theme(color-basic-50) !important;
    border: none;
    font-family: nb-theme(font-family-primary);
}

.p-dialog .p-dialog-header {
    border-radius: 2.75rem !important;
    background: nb-theme(color-basic-50) !important;
    color: nb-theme(color-basic-900) !important;
    padding: 2rem;
    border: none;
    font-family: nb-theme(font-family-primary);
}

.p-dialog .p-dialog-footer {
    border-bottom-right-radius: 2.75rem !important;
    border-bottom-left-radius: 2.75rem !important;
    border: none;
}

.p-dialog .p-dialog-content {
    border-radius: 2.75rem !important;
    background: nb-theme(color-basic-50) !important;
    color: nb-theme(color-basic-900) !important;
    padding: 0 2rem 1rem;
    border: none;
    height: 100%;
    font-family: nb-theme(font-family-primary);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.modal-complete {
    height: 24rem;
    overflow-y: scroll;
    padding-bottom: 1rem;
}

