<p-dialog [header]="(paymentMethod?'Actualizar ':'Nuevo') +' Metodo de pago'" [(visible)]="displayCreate" [modal]="true"
  [closable]="false" [draggable]="false" [resizable]="false">

  <div class="modal-create">

    <form [formGroup]="formPayment" (ngSubmit)="save()" aria-labelledby="title">
      <div class="row">

        <div class="form-group col-12">
          <label class="label-basic" for="input-name">Nombre<span class="text-danger">*</span></label>
          <input nbInput fullWidth formControlName="name" placeholder="Ingrese nombre del método de pago"
            id="input-name">
          <div *ngIf="formPayment.controls['name'].invalid && (formPayment.controls['name'].dirty ||
formPayment.controls['name'].touched)" class="text-danger">
            <div *ngIf="formPayment.controls['name'].errors.required">
              El nombre es obligatorio.
            </div>
          </div>
        </div>
        <div class="form-group col-12">
          <label class="label-basic" for="input-icon">Icono<span class="text-danger">*</span></label>
          <input nbInput fullWidth formControlName="icon" placeholder="Ingrese icono, desde Font Awesome"
            id="input-icon">
          <div *ngIf="formPayment.controls['icon'].invalid && (formPayment.controls['icon'].dirty ||
formPayment.controls['icon'].touched)" class="text-danger">
            <div *ngIf="formPayment.controls['icon'].errors.required">
              El icono es obligatorio.
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>

  <p-footer>

    <div class="detail-action p-grid p-jc-end">
      <button nbButton outline type="button" class=" p-mr-2 p-mb-2 button-outline" [disabled]="loading"
        (click)="onClose()">
        Cancelar
      </button>
      <button nbButton (click)="save()" status="primary" class=" p-mr-2 p-mb-2 button-outline"
       [disabled]="loading || formPayment.invalid">
       {{paymentMethod?(loading?'Actualizando':'Actualizar'):(loading?'Guardando':'Guardar')}}
      </button>
    </div>
  </p-footer>
</p-dialog>
