@import './../../../../@theme/styles/data-view-content.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

.usuario {
  float: left;
  width: 14%;
  padding: 0 10px;
}

.nombres {
  float: left;
  width: 23%;
  padding: 0 10px;
}
.apellidos {
  float: left;
  width: 23%;
  padding: 0 10px;
}

.correo {
  float: left;
  width: 24%;
  padding: 0 10px;
}

.tipo-rol {
  float: left;
  width: 15%;
  padding: 0 10px;
}


@include media-breakpoint-down(lg) {

  .usuario {
    margin-top: 1rem;

    width: 50%;
  }
  .nombres {
    margin-top: 1rem;

    width: 50%;
  }
  .apellidos {
    margin-top: 1rem;

    width: 50%;
  }

  .correo {
    margin-top: 1rem;
    width: 50%;
  }

  .tipo-rol {
    margin-top: 1rem;
    width: 50%;
  }
}

@include media-breakpoint-down(md) {


  .usuario {
    margin-top: 1rem;
    width: 250px;
    word-wrap: break-word;
  }
  .nombres {
    margin-top: 1rem;
    width: 250px;
    word-wrap: break-word;
  }
  .apellidos {
    margin-top: 1rem;
    width: 250px;
    word-wrap: break-word;
  }

  .correo {
    float: left;
    margin-top: 1rem;
    width: 250px;
    word-wrap: break-word;
  }

  .tipo-rol {
    margin-top: 1rem;
    width: 100%;
  }
}
