@import './../../../@theme/styles/themes.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

.fondo {
  background: url('../../../../assets/images/login.png') no-repeat center center
    fixed;
  background-size: 100% 100%;
}

.center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 60vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  height: 100%;
  padding-right: 5px;
  padding-left: 5px;
}
.title {
  text-align: left;
  margin-bottom: 10px;
  margin-left: -10px;
  color: nb-theme(color-secondary-230) !important;
}

.arrow-up {
  position: relative;
  float: left;
  width: 15px;
  z-index: -2;
  right: 47vw;
  top: 24vh;
  box-sizing: content-box;
  height: 100% !important;
}
.title-black {
  position: fixed;
  width: 60% !important;
  height: 100%;
  top: 0;
  left: 0;
  padding: 3rem;
}

.sidebar-primary {
  width: 40% !important;
  position: fixed;
  height: 65vh;
}

.content {
  padding-top: 3rem;
  padding-left: 3rem;
}

.divergenti {
  color: nb-theme(color-basic-50);
  font-size: 3.313vw;
  font-weight: nb-theme(font-weight-bold);
  line-height: 3.313vw;
  margin-top: 20rem;
}

.divergenti .color {
  color: nb-theme(color-primary-350);
  font-size: 3.313vw;
  font-weight: nb-theme(font-weight-bold);
  line-height: 3.313vw;
  margin-top: 20rem;
}
// botones de redes sociales
.lin {
  background-color: nb-theme(color-secondary-450) !important;
  color: nb-theme(color-basic-50) !important;
  border: none !important;
  width: 100%;
}
.goo {
  background-color: nb-theme(color-tertiary-800) !important;
  color: white;
  border: none !important;
  width: 100%;
}
.app {
  background-color: ng-theme(color-basic-500) !important;
  color: ng-theme(color-basic-50);
  border: none !important;
  width: 100%;
}
// buttons color
.btn-ingresar {
  // border-radius: 20px;
  color: nb-theme(color-basic-50) !important;
  background-color: nb-theme(color-secondary-230) !important;
  font-weight: 700 !important;
  border: none !important;
}
.btn-registrar {
  background-color: nb-theme(color-primary-350) !important;
  color: nb-theme(color-secondary-230) !important;
  font-weight: 700 !important;
  border: none !important;
}
// color texto
.text-color {
  color: nb-theme(color-secondary-230) !important;
}
.modal-email {
  width: 40vw;
}

.logo-black {
  display: block;
}

.logo-login {
  display: none;
}
.color-icon {
  color: nb-theme(color-basic-400);
}
@include media-breakpoint-down(xl) {
  .sidebar-primary {
    width: 45% !important;
    // height: 70vh !important;
  }

  .title-black {
    width: 55%;
  }

  .title {
    font-size: 3.313vw;
    margin-bottom: 10px;
  }

  .arrow-up {
    right: 50vw;
    top: 10vh;
    height: 60vh !important;
  }
}

@include media-breakpoint-down(lg) {
  .sidebar-primary {
    width: 50% !important;
  }

  .title {
    text-align: left;
    padding: 2rem 0 1rem 3rem;
  }
  .divergenti {
    font-size: 3vw;
    margin-top: 15rem;
  }
  .divergenti .color {
    font-size: 3vw;
    margin-top: 15rem;
  }
  .title-black {
    width: 50%;
  }
  .arrow-up {
    height: 40% !important;
    right: 53vw;
  }
}

@include media-breakpoint-down(md) {
  .sidebar-primary {
    width: 55% !important;
    right: -1px;
    border-radius: 20px;
    height: 90vh;
    top: 8vh;

  }

  .title-black {
    width: 45%;
  }
  .divergenti {
    font-size: 2.3vw;
    margin-top: 15rem;
  }
  .divergenti .color {
    font-size: 2.3vw;
    margin-top: 15rem;
  }

  .logo-black img {
    height: 40px;
  }
  .arrow-up {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .modal-email {
    width: 80vw;
  }

  .sidebar-primary {
    padding: 0.5rem;
    width: 100vh !important;
    height: 100vh !important;
    right: -1px;
    left: -1px;
  }

  .logo-login {
    margin: 0;
  }

  .title {
    font-size: 1.7rem;
  }
  .divergenti {
    display: none;
  }
  .logo-login {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .content {
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .center {
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .center {
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .content {
    display: flex;
  }

  .title-black:nth-of-type(1) {
    order: 2;
  }

  .sidebar-primary:nth-of-type(2) {
    order: 1;
  }

  .sidebar-primary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    position: relative;
    margin-top: -1rem;
    height: 90vh;
    top: 1vh;
  }

  .title-black {
    position: relative;
    width: 100%;
  }

  .arrow-up {
    display: none;
  }



  .logo-login {
    padding: 2rem 0 0;
    display: none;
  }

  .title {
    padding: 1rem 0;
  }
  @media screen and (max-width: 575px) {
    .d-xs-none {
      display: none;
    }
    .lin {
      width: 90%;
    }
    .goo {
      width: 90%;
    }
    .app {
      width: 90%;
    }
  }
}
