<div class="row">
  <div class="col-md-12">
    <h1 style="padding-left: 3%; color: #9fffd5; margin: 0 0 3% 0;" *ngIf="index===3">CAMBIAR CONTRASEÑA</h1>
    <h1 style="padding-left: 3%; color: #807ee8; margin: 0 0 3% 0;" *ngIf="index===2">CAMBIAR CONTRASEÑA</h1>
    <nb-card nbSpinnerStatus="primary" nbSpinnerSize="giant" nbSpinnerMessage='Cargando'
      style="background-color: transparent;">
      <nb-card-body>
        <form [formGroup]="formData" class="mx-auto" (ngSubmit)="ChangePassword()" novalidate>
          <div class="row">
            <div class="col-md-12 col-lg-4">
              <div class="form-group">
                <nb-form-field>
                  <!-- Change input type to be able to accept dynamic data -->
                  <button nbPrefix disabled class="button-icon" style="background-color: transparent;">
                    <nb-icon icon="unlock-outline" nbSuffix style="color: #9efdd4;" *ngIf="index===3"></nb-icon>
                    <nb-icon icon="unlock-outline" nbSuffix style="color: #7a71cd;" *ngIf="index===2"></nb-icon>
                  </button>
                  <input nbInput fullWidth [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                    formControlName="password" status="primary" placeholder="Nueva Contraseña" />

                  <button nbSuffix nbButton ghost type="button" (click)="toggleFieldTextType()" class="button-icon">
                    <nb-icon [icon]="fieldTextType ? 'eye-off-outline' : 'eye-outline'" pack="eva"
                      [attr.aria-label]="fieldTextType ? 'hide password' : 'show password'">
                    </nb-icon>
                  </button>
                </nb-form-field>
                <div *ngIf="formData.controls['password'].invalid && (formData.controls['password'].dirty ||
              formData.controls['password'].touched)" class="text-danger">
                  <div *ngIf="this.formData.get('password').errors?.required">
                    (El campo contraseña es obligatorio)
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4" >
              <div class="form-group">
                <nb-form-field>
                  <!-- Change input type to be able to accept dynamic data -->
                  <button nbPrefix disabled class="button-icon" style="background-color: transparent;">
                    <nb-icon icon="unlock-outline" nbSuffix style="color: #9efdd4;" *ngIf="index===3"></nb-icon>
                    <nb-icon icon="unlock-outline" nbSuffix style="color: #7a71cd;" *ngIf="index===2"></nb-icon>
                  </button>
                  <input nbInput fullWidth [type]="repeatFieldTextType ? 'text' : 'password'" class="form-control mi-input"
                    status="primary" formControlName="confirmPassword" placeholder="Confirmar Contraseña" />
                  <button nbSuffix nbButton ghost type="button" (click)="toggleRepeatFieldTextType()"
                    class="button-icon">
                    <nb-icon [icon]="repeatFieldTextType ? 'eye-off-outline' : 'eye-outline'" pack="eva"
                      [attr.aria-label]="repeatFieldTextType ? 'hide password' : 'show password'">
                    </nb-icon>
                  </button>
                </nb-form-field>
                <div *ngIf="formData.controls['confirmPassword'].invalid && (formData.controls['confirmPassword'].dirty ||
                      formData.controls['confirmPassword'].touched)" class="text-danger">
                  <div *ngIf="this.formData.get('confirmPassword').errors?.required">
                    (El campo confirmar contraseña es obligatorio)
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-3" style="padding-top: 0.5rem;">
              <div class="form-group">
                <button shape="round" size="small" type="submit" nbButton fullWidth status="primary"
                  [disabled]="!formData.valid || loading">
                  {{loading?'Cambiando':'GUARDAR'}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
