<div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <strong style="margin-right: 1rem;">{{user.profile.country}} - {{user.profile.city}}</strong>
        </div>
        <div class="col-12 col-lg-6">
            {{user.profile.telephone.internationalNumber}}
        </div>
    </div>
</div>
<br>
<div>
    {{user.profile.summary}}
</div>

<div style="margin-top: 2rem;">
    <div class="row">
        <div *ngIf="user.profile.linkedin" class="col-6 col-md-2 col-lg-1" nbTooltip="Linkedin">
            <i class="fab fa-linkedin social" (click)="onGoLink(user.profile.linkedin)"></i>
        </div>
        <div *ngIf="user.profile.website" class="col-6 col-md-2 col-lg-1" nbTooltip="Sitio web">
            <i class="fa fa-globe social" (click)="onGoLink(user.profile.website)"></i>
        </div>
        <div *ngIf="user.profile.github" class="col-6 col-md-2 col-lg-1" nbTooltip="Github">
            <i class="fab fa-github social" (click)="onGoLink(user.profile.github)"></i>
        </div>
        <div *ngIf="user.profile.instagram" class="col-6 col-md-2 col-lg-1" nbTooltip="Instagram">
            <i class="fab fa-instagram social" (click)="onGoLink(user.profile.instagram)"></i>
        </div>
    </div>
</div>
<div *ngIf="user.walletAddress" style="margin-top: 2rem;" class="wallet">
    <strong>Wallet DIVER:</strong> {{user.walletAddress}}
</div>