<nb-layout>
  <nb-layout-header style="background-color: black;">
    <div class="logo-black col-12 ">
      <a href="/auth">
        <img src="../../../../assets/images/logo-app.png" alt="App" height="40px" /></a>
    </div>
  </nb-layout-header>
  <nb-layout-column class="fondo">

    <div class="row content">

      <div class="sidebar-primary col-12 col-sm-12 col-md-8 col-xl-6">
        <div class="arrow-up">
          <img src="../../../../assets/images/Arrow.png">
        </div>
        <div class="col-12">
          <!-- <div class="arrow-up">
            <img src="../../../../assets/images/arrow-primary-up.png" height="172">
          </div> -->
          <div class="container">
            <div class="logo-login">
              <a href="#">
                <img src="../../../../assets/images/logo-app.png" alt="App" height="60px" /></a>
            </div>
            <h1 class="title col-12">Reestablecer <br /> Contraseña!</h1>
            <label *ngIf='updateToken === null' class="text-color">Ingrese su correo electrónico o nombre de usuario y
              a continuación
              siga las instrucciones que serán enviadas a su
              correo electrónico.</label>
            <label *ngIf='updateToken != null' class="text-color">Ingrese su nueva contraseña.</label>
            <br>
            <div class="container">
              <div *ngIf='updateToken === null'>
                <form id="form" [formGroup]="formData" (ngSubmit)="ResetPassword()">
                  <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12 mb-2">
                      <input nbInput fullWidth id="username" formControlName="username" (click)="open(dialog)"
                        type="text" class="form-control input-fourth" placeholder="Nombre de usuario o email"
                        pInputText />
                      <div
                        *ngIf="formData.controls['username'].invalid && (formData.controls['username'].dirty || formData.controls['username'].touched)"
                        class="text-danger">
                        <span *ngIf="this.formData.get('username').hasError('required')">
                          (El nombre de usuario o email es obligatorio)
                        </span>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12">
                      <button type="submit" nbButton shape="round" class="btn-ingresar" status="primary"
                        [disabled]="!formData.valid || loading" style="width: 100%;">
                        {{loading?'Enviando correo':'Reestablecer contraseña'}}</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-12" *ngIf='updateToken !== null '>
                <div id="texto-vd"></div>
                <br />
                <div>
                  <form [formGroup]="formData" (ngSubmit)="ResetPassword()">
                    <div class="row">
                      <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                          <nb-form-field>
                            <!-- Change input type to be able to accept dynamic data -->
                            <input nbInput fullWidth [type]="fieldTextType ? 'text' : 'password'"
                              class="form-control input-fourth" placeholder="Contraseña" formControlName="password" />
                            <button nbSuffix nbButton ghost type="button" (click)="toggleFieldTextType()"
                              class="button-icon">
                              <nb-icon class="color-icon" [icon]="fieldTextType ? 'eye-off-outline' : 'eye-outline'"
                                pack="eva" [attr.aria-label]="fieldTextType ? 'hide password' : 'show password'">
                              </nb-icon>
                            </button>
                          </nb-form-field>

                          <div *ngIf="formData.controls['password'].invalid && (formData.controls['password'].dirty ||
                         formData.controls['password'].touched)" class="text-danger">
                            <div *ngIf="this.formData.get('password').errors?.required">
                              (El campo contraseña es obligatorio)
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                          <nb-form-field>
                            <!-- Change input type to be able to accept dynamic data -->
                            <input nbInput fullWidth [type]="repeatFieldTextType ? 'text' : 'password'"
                              class="form-control input-fourth" placeholder="Confirme su contraseña"
                              formControlName="confirmPassword" />
                            <button nbSuffix nbButton ghost type="button" (click)="toggleRepeatFieldTextType()"
                              class="button-icon">
                              <nb-icon class="color-icon"
                                [icon]="repeatFieldTextType ? 'eye-off-outline' : 'eye-outline'" pack="eva"
                                [attr.aria-label]="repeatFieldTextType ? 'hide password' : 'show password'">
                              </nb-icon>
                            </button>
                          </nb-form-field>
                          <div *ngIf="formData.controls['confirmPassword'].invalid && (formData.controls['confirmPassword'].dirty ||
                          formData.controls['confirmPassword'].touched)" class="text-danger">
                            <div *ngIf="this.formData.get('confirmPassword').errors?.required">
                              (El campo confirmar contraseña es obligatorio)
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <br />

                    <button shape="round" type="submit" nbButton status="primary" class="btn-ingresar"
                      [disabled]="!formData.valid || loading" style="width: 100%;">
                      {{loading?'Cambiando contraseña':'Registrar contraseña'}}</button>
                  </form>
                </div>
              </div>
              <br>
              <br>
              <span class="label-with-link">
                <a class="forgot-password caption-2 link text-color" routerLink="/auth">Regresar</a>
              </span>
              <br>
              <div class="logo-black col-12 mt-5">
                <a href="#">
                  <img class="img-style" src="../../../../assets/images/dg-Logo.png" alt="App" /></a>
              </div>
              <ng-template #dialog let-ref="dialogRef">
                <nb-card style=" display: flex; justify-content: center; text-align: center; ">
                  <nb-card-header *ngIf="title"> {{title}}</nb-card-header>
                  <nb-card-body>
                    <p>{{ description }}</p>
                    <b>{{mail}}</b>
                  </nb-card-body>
                  <nb-card-footer>
                    <button nbButton (click)="ref.close()" routerLink="/auth">Cerrar</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
            </div>

            <!--datos form-->

          </div>
        </div>
      </div>
    </div>

  </nb-layout-column>
</nb-layout>
















<!-- <div *ngIf="viewForgotPassword === true">

  <span class="label-with-link">
    <a class="forgot-password caption-2 link"
      style="margin: auto; width:100%;  text-align:right; color: rgb(22, 22, 24); text-decoration: underline; cursor: pointer;"
      onClick="window.location.reload();"> Regresar</a>
  </span>
</div> -->