@import '../../../../@theme/styles/themes.scss';

.badge-primary {
    background-color: nb-theme(color-primary-600);
    padding-left: 1rem;
    border-radius: nb-theme(border-radius);
}

.title {
    color: nb-theme(color-primary-800);
}

.level {
    color: nb-theme(color-primary-800);
}

.feed {
    color: nb-theme(color-primary-800);
}
