@import './../../../@theme/styles/data-view-content.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css');
@import './../../../@theme/styles/themes.scss';

:host {
  display: block;

  overflow-x: hidden;
  overflow-y: auto;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}
.colorCard {
  background-color: #6e6cc9;
  border: 2px solid #9fffd5;
}
.colorCard-pyme {
  background-color: #121213;
  border: 2px solid #6b69c2;
}
.dashboard-container {
  flex: 0 0 100%;
  max-width: 70%;
  margin-left: 5%;
  padding-top: 0;
  padding-right: 0;
}

.titulo2 {
  color: white;
  font-size: 1.1rem;
  font-weight: 650;
  padding-top: 2.5rem;
  padding-left: 2rem;
  margin-bottom: 8px;
}
.subtitulo2 {
  padding-top: 0;
  color: #9fffd5;
  font-size: 2.2rem;
  font-weight: 700;
  padding-left: 2rem;
}

//clases para arrow

.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: transparent;
  cursor: default;
  margin: 0 3px;
  padding: 10px 10px 10px 30px;
  min-width: 10px;
  float: left;
  position: relative;
  background-color: #8eb8e0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
}
.arrow-steps .step::after,
.arrow-steps .step::before {
  content: '';
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 17px solid #8eb8e0;
  z-index: 2;
  transition: border-color 0.2s ease;
}
.arrow-steps .step::before {
  right: auto;
  left: 0;
  border-left: 17px solid #6e6cc9;
  z-index: 0;
}
.arrow-steps .step:first-child::before {
  border: none;
}
.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.arrow-steps .step span {
  position: relative;
}

.arrow-steps .step.current {
  color: transparent;
  background-color: #9efed4;
}
.arrow-steps .step.current::after {
  border-left: 17px solid #9efed4;
}

.fa {
  padding: 5px;
  font-size: 15px;
  width: 40px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #011c29;
  color: white;
}
.fa-globe {
  background: #4b7488;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.img-dash {
  width: 200px;
  display: flex;
  margin: 0 -0.5rem;
}

.card-white {
  background-color: white;
}

.title {
  text-align: left;
  padding-bottom: 1.5rem;
}

.wallet {
  float: left;
  width: 300px;
  word-wrap: break-word;
}

@include media-breakpoint-down(xxl) {
  .dashboard-container {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0%;
    padding-top: 0;
    padding-right: 0;
  }
}

@include media-breakpoint-down(lg) {
  .wallet {
    margin-top: 1rem;
    width: 100%;
  }
  .card-row {
    display: flex;
    margin: 0 -0.9rem;
  }
  .dashboard-container {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0%;
    padding-top: 0;
    padding-right: 0;
  }

}
@include media-breakpoint-down(md) {
  .card-row {
    display: flex;
    margin: 0;
  }

  .wallet {
    float: left;
    margin-top: 1rem;
    width: 100%;
    word-wrap: break-word;
  }

}
@include media-breakpoint-down(sm) {
  .wallet {
    float: left;
    margin-top: 1rem;
    width: 100%;
    word-wrap: break-word;
  }
}
@media (max-width: 765px) {
  .arrow-steps .step {
    min-width: 35px;
  }
}
//para pyme
.arrow-steps-pyme .step-pyme {
  font-size: 14px;
  text-align: center;
  color: transparent;
  cursor: default;
  margin: 0 3px;
  padding: 10px 10px 10px 30px;
  min-width: 10px;
  float: left;
  position: relative;
  background-color: #588474;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
}
.arrow-steps-pyme .step-pyme::after,
.arrow-steps-pyme .step-pyme::before {
  content: '';
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 17px solid #588474;
  z-index: 2;
  transition: border-color 0.2s ease;
}
.arrow-steps-pyme .step-pyme::before {
  right: auto;
  left: 0;
  border-left: 17px solid #1c1920;
  z-index: 0;
}
.arrow-steps-pyme .step-pyme:first-child::before {
  border: none;
}
.arrow-steps-pyme .step-pyme:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.arrow-steps-pyme .step-pyme span {
  position: relative;
}

.arrow-steps-pyme .step-pyme.current {
  color: transparent;
  background-color: #9efed4;
}
.arrow-steps-pyme .step-pyme.current::after {
  border-left: 17px solid #9efed4;
}
@media (max-width: 765px) {
  .arrow-steps-pyme .step-pyme {
    min-width: 35px;
  }
}
// linea vertical

.span-vertical {
  font-size: 10px;
}
.vertical {
  width: 9px;
  font-size: 10px;
  padding: 0;
  word-wrap: break-word;
  color: white;
  line-height: 11px;
}
