
<div class="dashboard-container">
  <div class="row">
    <div class="col-12 col-lg-6" *ngIf="rol === 'users'">
      <nb-card size="tiny" style="background-color:#6e6cc9;" class="colorCard">
        <nb-card-body>
          <h6 style="color: white; font-size: 2.5rem; font-weight: 700;"> {{ (walletBalance | coinNotation | number:
            '1.0-8': 'es')
            || (0) }} DIVER <nb-icon icon="question-mark-circle-outline"></nb-icon>
          </h6>

          <p style="color: #9fffd5;">DIRECCIÓN DE MI WALLET <nb-icon icon="question-mark-circle-outline">
            </nb-icon>
          </p>
          <p style="color: white; margin-top: -1.5vh;">{{(walletAddress || 'No existe wallet')}} </p>

         <div style="text-align: center;"> <img class="back" src="../../../../assets/images/barrafechas.png" alt="App" height="90px"  /></div>
        </nb-card-body>
      </nb-card>

    </div>
    <div class="col-12 col-lg-6" *ngIf="rol === 'pyme'">
      <nb-card size="tiny" class="colorCard-pyme">
        <nb-card-body>
          <h6 style="color: white; font-size: 2.5rem; font-weight: 700;"> {{ (walletBalance | coinNotation | number:
            '1.0-8': 'es')
            || (0) }} DIVER <nb-icon icon="question-mark-circle-outline"></nb-icon>
          </h6>

          <p style="color: #6c6ac0;">DIRECCIÓN DE MI WALLET <nb-icon icon="question-mark-circle-outline">
            </nb-icon>
          </p>
          <p style="color: white; margin-top: -1.5vh;">{{(walletAddress || 'No existe wallet')}} </p>
          <div style="text-align: center;"> <img class="back" src="../../../../assets/images/pymedash.png" alt="App" height="90px"  /></div>
        </nb-card-body>
      </nb-card>

    </div>
    <div class="col-12 col-lg-6" *ngIf="rol === 'users'">
      <nb-card size="tiny" style="background-color:#5b5aa7; padding: 0; margin: 0;">
        <nb-card-body style="padding: 0rem; margin: 0;">

          <p class="titulo2">CREA TU NUEVA <br> ECONOMÍA Y RECORRE <br> EL CAMINO AL RENACER <br>
            HUMANO DE LA</p>
          <p class="subtitulo2">ERA DIGITAL</p>
          <div style="position:absolute; top:1rem; right:0rem;">
            <img src="../../../../assets/images/arrow-dash.png" style="width:80%;height:80%;">
          </div>
        </nb-card-body>
      </nb-card>

    </div>
    <div class="col-12 col-lg-6" *ngIf="rol === 'pyme'">
      <nb-card size="tiny" style="background-color:#000000; padding: 0; margin: 0;">
        <nb-card-body style="padding: 0rem; margin: 0;">

          <p class="titulo2">CREA TU NUEVA <br> ECONOMÍA Y RECORRE <br> EL CAMINO AL RENACER <br>
            HUMANO DE LA</p>
          <p class="subtitulo2">ERA DIGITAL</p>
          <div style="position:absolute; top:1rem; right:0rem;">
            <img src="../../../../assets/images/arrow-pyme.png" style="width:80%;height:80%; ">
          </div>
        </nb-card-body>
      </nb-card>

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12" *ngIf="rol === 'users'">
      <nb-card size="small" class="colorCard">
        <nb-card-body>
          <div class="row">
            <div class="col-12 col-lg-5">
              <div class="container">
                <div>
                  <div style="position: absolute;  top: 2rem; left: 2.2rem; text-align: center; width: 21%;">
                    <p style=" font-size: 5vh; color: #ffffff; font-weight: 600;">{{allRewardDone|| '0'}}</p>
                  </div>
                  <svg class="pos-fondo" width="85" height="90" xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path id="svg_7" d="m342.6456,111.94034" opacity="NaN" stroke="#9131f7" fill="none" />
                      <path stroke="#54bcab" stroke-width="4" id="svg_10"
                        d="m3.71635,31.35728c0,0 -1.46027,27.87046 -0.56661,27.95983c0.10395,0 2.07758,8.25659 7.36597,12.57254c5.28839,4.31595 24.20037,13.79977 24.81787,13.9801c5.13712,1.99209 7.87143,0.6966 8.04567,0.84424c0.17424,0.14764 29.46386,-15.57494 29.46386,-15.57494c0,0 5.855,-2.81475 6.23274,-10.32074c0.37774,-7.50599 0,-30.21163 0,-30.21163c0,0 -0.18887,-7.50599 -6.98822,-11.63429c-6.79935,-4.1283 -24.17548,-13.88609 -24.17548,-13.88609c0,0 -6.04387,-2.06415 -11.33225,-0.56295c-5.28839,1.5012 -23.79773,13.51079 -23.79773,13.51079c0,0 -8.79392,5.0984 -9.0658,13.32314l-0.00002,0z"
                        opacity="NaN" fill="none" />
                      <path id="svg_11"
                        d="m9.3549,33.63944c0,0 -0.47378,23.88409 -0.47378,23.88409c0,0 1.7372,7.05303 6.15918,10.73983c4.42198,3.6868 20.84646,12.0222 20.75189,11.9422c-0.27145,-0.2718 2.30555,1.84325 6.72753,0.72117c4.42198,-1.12207 24.63672,-13.30456 24.63672,-13.30456c0,0 4.89576,-2.40444 5.21161,-8.81628c0.31586,-6.41184 0,-25.80765 0,-25.80765c0,0 -0.15793,-6.41184 -5.84332,-9.93834c-5.6854,-3.52651 -20.21474,-11.8619 -20.21474,-11.8619c0,0 -5.05369,-1.76325 -9.47566,-0.48088c-4.42198,1.28237 -19.89889,11.5413 -19.89889,11.5413c0,0 -6.94882,5.93095 -7.58053,11.38101l0,0.00001l-0.00001,0z"
                        opacity="NaN" fill="#6a6472" stroke="null" />
                    </g>
                  </svg>
                  <label style="color: #9fffd5; font-weight: 700;font-size: 1rem; word-wrap: break-word;">
                    RECOMPENZAS <br> OTORGADAS
                  </label>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-5">
              <div class="container">
                <div style=" position: absolute;  top: 2rem; left: 2.5rem; text-align: center; width: 17%;">
                  <p style=" font-size: 5vh; color: #ffffff; font-weight: 600;">{{allRewardDone|| '0'}}</p>
                </div>
                <svg class="pos-fondo" width="85" height="90" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path id="svg_7" d="m342.6456,111.94034" opacity="NaN" stroke="#9131f7" fill="none" />
                    <path stroke="#54bcab" stroke-width="4" id="svg_10"
                      d="m3.71635,31.35728c0,0 -1.46027,27.87046 -0.56661,27.95983c0.10395,0 2.07758,8.25659 7.36597,12.57254c5.28839,4.31595 24.20037,13.79977 24.81787,13.9801c5.13712,1.99209 7.87143,0.6966 8.04567,0.84424c0.17424,0.14764 29.46386,-15.57494 29.46386,-15.57494c0,0 5.855,-2.81475 6.23274,-10.32074c0.37774,-7.50599 0,-30.21163 0,-30.21163c0,0 -0.18887,-7.50599 -6.98822,-11.63429c-6.79935,-4.1283 -24.17548,-13.88609 -24.17548,-13.88609c0,0 -6.04387,-2.06415 -11.33225,-0.56295c-5.28839,1.5012 -23.79773,13.51079 -23.79773,13.51079c0,0 -8.79392,5.0984 -9.0658,13.32314l-0.00002,0z"
                      opacity="NaN" fill="none" />
                    <path id="svg_11"
                      d="m9.3549,33.63944c0,0 -0.47378,23.88409 -0.47378,23.88409c0,0 1.7372,7.05303 6.15918,10.73983c4.42198,3.6868 20.84646,12.0222 20.75189,11.9422c-0.27145,-0.2718 2.30555,1.84325 6.72753,0.72117c4.42198,-1.12207 24.63672,-13.30456 24.63672,-13.30456c0,0 4.89576,-2.40444 5.21161,-8.81628c0.31586,-6.41184 0,-25.80765 0,-25.80765c0,0 -0.15793,-6.41184 -5.84332,-9.93834c-5.6854,-3.52651 -20.21474,-11.8619 -20.21474,-11.8619c0,0 -5.05369,-1.76325 -9.47566,-0.48088c-4.42198,1.28237 -19.89889,11.5413 -19.89889,11.5413c0,0 -6.94882,5.93095 -7.58053,11.38101l0,0.00001l-0.00001,0z"
                      opacity="NaN" fill="#6a6472" stroke="null" />
                  </g>
                </svg>
                <label style="color: #9fffd5; font-weight: 700;font-size: 1rem; ">
                  LOGROS <br> COMPLETADOS
                </label>
              </div>

            </div>
            <div class="col-12 col-lg-1" style="position:absolute; top:0.5rem; right:0rem;">
              <img src="../../../../assets/images/paso1.png" style="width:90%;height:90%;">
              <img src="../../../../assets/images/paso2.png" style="width:90%;height:90%;">
              <img src="../../../../assets/images/paso3.png" style="width:90%;height:90%;">
              <img src="../../../../assets/images/paso4.png" style="width:90%;height:90%;">
              <img src="../../../../assets/images/paso5.png" style="width:90%;height:90%;">
              <img src="../../../../assets/images/paso6.png" style="width:90%;height:90%;">
              <img src="../../../../assets/images/paso7.png" style="width:90%;height:90%;">
            </div>
          </div>
          <!-- <p class="text-header ">RECOMPENZAS OTORGADAS</p>

          <h6 id="title" class="title" style="margin: 0px, 0, 5px, 0; padding: 0px;">Total recompensas otorgadas</h6>
          <div class="header-title">Total</div>
          <h4 class="color-primary">{{allRewardDone}}</h4> -->
          <div class="row" style="margin-top: 2rem; margin-left: 1.5rem;">
            <div>
              <div
                style="border: solid 1px #9efed4; width:105%; height: 65px; padding-top: 10px; padding-left: 2px; margin-bottom: 3px; ">
                <div class="arrow-steps">
                  <div class="step current" *ngIf="valorProgress === 10">c </div>
                  <div class="step" *ngIf="valorProgress != 10"> c </div>
                  <div class="step current" *ngIf="valorProgress === 10">c </div>
                  <div class="step" *ngIf="valorProgress != 10"> c </div>
                  <div class="step current" *ngIf="valorProgress === 10">c </div>
                  <div class="step" *ngIf="valorProgress != 10"> c </div>
                  <div class="step current" *ngIf="valorProgress === 10">c </div>
                  <div class="step" *ngIf="valorProgress != 10"> c </div>
                  <div class="step current" *ngIf="valorProgress === 1">c </div>
                  <div class="step" *ngIf="valorProgress != 1"> c </div>
                  <div class="step current" *ngIf="valorProgress === 2">c </div>
                  <div class="step" *ngIf="valorProgress != 2"> c </div>
                  <div class="step current" *ngIf="valorProgress === 3">c </div>
                  <div class="step" *ngIf="valorProgress != 3"> c </div>
                  <div class="step current" *ngIf="valorProgress === 4">c </div>
                  <div class="step" *ngIf="valorProgress != 4"> c </div>
                  <div class="step current" *ngIf="valorProgress === 4">c </div>
                  <div class="step" *ngIf="valorProgress != 4"> c </div>
                  <div class="step current" *ngIf="valorProgress === 4">c </div>
                  <div class="step" *ngIf="valorProgress != 4"> c </div>
                  <div class="step current" *ngIf="valorProgress === 4">c </div>
                  <div class="step" *ngIf="valorProgress != 4"> c </div>
                </div>
              </div>
              <div class="row">
                <div class=" col-12 col-lg-1"></div>
                <div class=" col-12 col-lg-2" style="padding-left: 35px;">
                  <p class="vertical"> <b>NIVEL 1</b> </p>
                </div>
                <div class=" col-12 col-lg-2" style="padding-left: 60px;">
                  <p class="vertical"> <b>NIVEL 2</b> </p>
                </div>
                <div class=" col-12 col-lg-3" style="padding-left: 95px;">
                  <p class="vertical"> <b>NIVEL 3</b> </p>
                </div>
                <div class=" col-12 col-lg-3" style="padding-left: 80px;">
                  <p class="vertical"> <b>NIVEL 4</b> </p>
                </div>
                <div class=" col-12 col-lg-1" style="padding-left: 23px;">
                  <p class="vertical"> <b>NIVEL 5</b> </p>
                </div>
              </div>

            </div>

          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-12 col-lg-12" *ngIf="rol === 'pyme'">
      <nb-card size="small" class="colorCard-pyme">
        <nb-card-body>
          <div class="row">
            <div class="col-12 col-lg-5">
              <div class="container">
                <div>
                  <div style="position: absolute;  top: 2rem; left: 2.2rem; text-align: center; width: 21%;">
                    <p style=" font-size: 5vh; color: #ffffff; font-weight: 600;">{{allRewardDone|| '0'}}</p>
                  </div>
                  <svg class="pos-fondo" width="85" height="90" xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path id="svg_7" d="m342.6456,111.94034" opacity="NaN" stroke="#9131f7" fill="none" />
                      <path stroke="#54bcab" stroke-width="4" id="svg_10"
                        d="m3.71635,31.35728c0,0 -1.46027,27.87046 -0.56661,27.95983c0.10395,0 2.07758,8.25659 7.36597,12.57254c5.28839,4.31595 24.20037,13.79977 24.81787,13.9801c5.13712,1.99209 7.87143,0.6966 8.04567,0.84424c0.17424,0.14764 29.46386,-15.57494 29.46386,-15.57494c0,0 5.855,-2.81475 6.23274,-10.32074c0.37774,-7.50599 0,-30.21163 0,-30.21163c0,0 -0.18887,-7.50599 -6.98822,-11.63429c-6.79935,-4.1283 -24.17548,-13.88609 -24.17548,-13.88609c0,0 -6.04387,-2.06415 -11.33225,-0.56295c-5.28839,1.5012 -23.79773,13.51079 -23.79773,13.51079c0,0 -8.79392,5.0984 -9.0658,13.32314l-0.00002,0z"
                        opacity="NaN" fill="none" />
                      <path id="svg_11"
                        d="m9.3549,33.63944c0,0 -0.47378,23.88409 -0.47378,23.88409c0,0 1.7372,7.05303 6.15918,10.73983c4.42198,3.6868 20.84646,12.0222 20.75189,11.9422c-0.27145,-0.2718 2.30555,1.84325 6.72753,0.72117c4.42198,-1.12207 24.63672,-13.30456 24.63672,-13.30456c0,0 4.89576,-2.40444 5.21161,-8.81628c0.31586,-6.41184 0,-25.80765 0,-25.80765c0,0 -0.15793,-6.41184 -5.84332,-9.93834c-5.6854,-3.52651 -20.21474,-11.8619 -20.21474,-11.8619c0,0 -5.05369,-1.76325 -9.47566,-0.48088c-4.42198,1.28237 -19.89889,11.5413 -19.89889,11.5413c0,0 -6.94882,5.93095 -7.58053,11.38101l0,0.00001l-0.00001,0z"
                        opacity="NaN" fill="#6a6472" stroke="null" />
                    </g>
                  </svg>
                  <label style="color: #9fffd5; font-weight: 700;font-size: 1rem; word-wrap: break-word;">
                    RECOMPENZAS <br> OTORGADAS
                  </label>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-5">
              <div class="container">
                <div style=" position: absolute;  top: 2rem; left: 2.5rem; text-align: center; width: 17%;">
                  <p style=" font-size: 5vh; color: #ffffff; font-weight: 600;">{{allRewardDone|| '0'}}</p>
                </div>
                <svg class="pos-fondo" width="85" height="90" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path id="svg_7" d="m342.6456,111.94034" opacity="NaN" stroke="#9131f7" fill="none" />
                    <path stroke="#54bcab" stroke-width="4" id="svg_10"
                      d="m3.71635,31.35728c0,0 -1.46027,27.87046 -0.56661,27.95983c0.10395,0 2.07758,8.25659 7.36597,12.57254c5.28839,4.31595 24.20037,13.79977 24.81787,13.9801c5.13712,1.99209 7.87143,0.6966 8.04567,0.84424c0.17424,0.14764 29.46386,-15.57494 29.46386,-15.57494c0,0 5.855,-2.81475 6.23274,-10.32074c0.37774,-7.50599 0,-30.21163 0,-30.21163c0,0 -0.18887,-7.50599 -6.98822,-11.63429c-6.79935,-4.1283 -24.17548,-13.88609 -24.17548,-13.88609c0,0 -6.04387,-2.06415 -11.33225,-0.56295c-5.28839,1.5012 -23.79773,13.51079 -23.79773,13.51079c0,0 -8.79392,5.0984 -9.0658,13.32314l-0.00002,0z"
                      opacity="NaN" fill="none" />
                    <path id="svg_11"
                      d="m9.3549,33.63944c0,0 -0.47378,23.88409 -0.47378,23.88409c0,0 1.7372,7.05303 6.15918,10.73983c4.42198,3.6868 20.84646,12.0222 20.75189,11.9422c-0.27145,-0.2718 2.30555,1.84325 6.72753,0.72117c4.42198,-1.12207 24.63672,-13.30456 24.63672,-13.30456c0,0 4.89576,-2.40444 5.21161,-8.81628c0.31586,-6.41184 0,-25.80765 0,-25.80765c0,0 -0.15793,-6.41184 -5.84332,-9.93834c-5.6854,-3.52651 -20.21474,-11.8619 -20.21474,-11.8619c0,0 -5.05369,-1.76325 -9.47566,-0.48088c-4.42198,1.28237 -19.89889,11.5413 -19.89889,11.5413c0,0 -6.94882,5.93095 -7.58053,11.38101l0,0.00001l-0.00001,0z"
                      opacity="NaN" fill="#6a6472" stroke="null" />
                  </g>
                </svg>
                <label style="color: #9fffd5; font-weight: 700;font-size: 1rem; ">
                  LOGROS <br> COMPLETADOS
                </label>
              </div>

            </div>
            <div class="col-12 col-lg-1" style="position:absolute; top:0.5rem; right:0rem;">
              <img src="../../../../assets/images/paso1.png" style="width:90%;height:90%;">
              <img src="../../../../assets/images/paso2.png" style="width:90%;height:90%;">
              <img src="../../../../assets/images/paso3.png" style="width:90%;height:90%;">
              <img src="../../../../assets/images/paso4.png" style="width:90%;height:90%;">
              <img src="../../../../assets/images/paso5.png" style="width:90%;height:90%;">
              <img src="../../../../assets/images/paso6.png" style="width:90%;height:90%;">
              <img src="../../../../assets/images/paso7.png" style="width:90%;height:90%;">
            </div>
          </div>
          <!-- <p class="text-header ">RECOMPENZAS OTORGADAS</p>

          <h6 id="title" class="title" style="margin: 0px, 0, 5px, 0; padding: 0px;">Total recompensas otorgadas</h6>
          <div class="header-title">Total</div>
          <h4 class="color-primary">{{allRewardDone}}</h4> -->
          <div class="row" style="margin-top: 2rem; margin-left: 1.5rem;">
            <div>
              <div
                style="border: solid 1px #9efed4; width:105%; height: 65px; padding-top: 10px; padding-left: 2px; margin-bottom: 3px; ">
                <div class="arrow-steps-pyme">
                  <div class="step-pyme current" *ngIf="valorProgress === 10">c </div>
                  <div class="step-pyme" *ngIf="valorProgress != 10"> c </div>
                  <div class="step-pyme current" *ngIf="valorProgress === 10">c </div>
                  <div class="step-pyme" *ngIf="valorProgress != 10"> c </div>
                  <div class="step-pyme current" *ngIf="valorProgress === 10">c </div>
                  <div class="step-pyme" *ngIf="valorProgress != 10"> c </div>
                  <div class="step-pyme current" *ngIf="valorProgress === 10">c </div>
                  <div class="step-pyme" *ngIf="valorProgress != 10"> c </div>
                  <div class="step-pyme current" *ngIf="valorProgress === 1">c </div>
                  <div class="step-pyme" *ngIf="valorProgress != 1"> c </div>
                  <div class="step-pyme current" *ngIf="valorProgress === 2">c </div>
                  <div class="step-pyme" *ngIf="valorProgress != 2"> c </div>
                  <div class="step-pyme current" *ngIf="valorProgress === 3">c </div>
                  <div class="step-pyme" *ngIf="valorProgress != 3"> c </div>
                  <div class="step-pyme current" *ngIf="valorProgress === 4">c </div>
                  <div class="step-pyme" *ngIf="valorProgress != 4"> c </div>
                  <div class="step-pyme current" *ngIf="valorProgress === 4">c </div>
                  <div class="step-pyme" *ngIf="valorProgress != 4"> c </div>
                  <div class="step-pyme current" *ngIf="valorProgress === 4">c </div>
                  <div class="step-pyme" *ngIf="valorProgress != 4"> c </div>
                  <div class="step-pyme current" *ngIf="valorProgress === 4">c </div>
                  <div class="step-pyme" *ngIf="valorProgress != 4"> c </div>
                </div>
              </div>
              <div class="row">
                <div class=" col-12 col-lg-1"></div>
                <div class=" col-12 col-lg-2" style="padding-left: 35px;">
                  <p class="vertical"> <b>NIVEL 1</b> </p>
                </div>
                <div class=" col-12 col-lg-2" style="padding-left: 60px;">
                  <p class="vertical"> <b>NIVEL 2</b> </p>
                </div>
                <div class=" col-12 col-lg-3" style="padding-left: 95px;">
                  <p class="vertical"> <b>NIVEL 3</b> </p>
                </div>
                <div class=" col-12 col-lg-3" style="padding-left: 80px;">
                  <p class="vertical"> <b>NIVEL 4</b> </p>
                </div>
                <div class=" col-12 col-lg-1" style="padding-left: 23px;">
                  <p class="vertical"> <b>NIVEL 5</b> </p>
                </div>
              </div>

            </div>

          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>












<div class="card-row" *ngIf="rol === 'admin'">
  <div class="col-12 col-lg-5">
    <nb-card size="tiny">
      <nb-card-body>
        <h6 style="color: white; margin: 0px;">Balance</h6>
        <label for="" style=" margin: 0px;">The balance of Staking</label>

        <h1 style="color: white; margin: 0px; padding: 0px;"> {{ (walletBalance | coinNotation | number: '1.0-8': 'es') || (0 |
          coinNotation) }} DIVER
        </h1>

        <h6 style="color: white; margin: 0px;" >Wallet Address</h6>
        <label class="wallet">{{walletAddress}}</label>
      </nb-card-body>
    </nb-card>

  </div>
  <div class="col-12 col-lg-7">
    <nb-card size="tiny" style="background-color: black">
      <nb-card-body>
        <div class="row">
          <div class="col-6">
            <br>
            <h5 style="color: white; margin: 2px; font-weight: bold;">En Divergenti
              queremos acompañarte
              y verte crecer.</h5>
          </div>
          <div class="col-4">
            <div style="padding: 0; margin-top: 20px;">
              <img src="../../../../assets/images/home.png" width="170px" alt="Responsive image" />
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

  </div>
</div>
<div class="row" *ngIf="rol === 'admin'">

  <div class="col-12 col-lg-4">
    <nb-card size="tiny" class="card-white">
      <nb-card-body>
        <h6 id="title" class="title" style="margin: 0px, 0, 5px, 0; padding: 0px;">Total recompensas otorgadas</h6>
        <div class="header-title">Total</div>
        <h4 class="color-primary">{{allRewardDone}}</h4>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-12 col-lg-4">
    <nb-card size="tiny" class="card-white">
      <nb-card-body>
        <h6 id="title" class="title" style="margin: 0px, 0, 5px, 0; padding: 0px;">Total logros</h6>
        <div class="header-title">Total</div>
        <h4 class="color-primary">{{allAchievement}}</h4>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-12 col-lg-4" >
    <nb-card size="tiny" class="card-white">
      <nb-card-body>
        <h6 id="title" class="title" style="margin: 5px; padding: 0px;">Oportunidades por su estado</h6>
        <div class="card-row">
          <div class="col-6">
            <div class="header-title">Activas</div>
            <h4 class="color-primary">{{activeStatus}}</h4>
          </div>
          <div class="col-6">
            <div class="header-title">Asignadas</div>
            <h4 class="color-primary">{{asignedStatus}}</h4>
          </div>
        </div>
        <div class="card-row">
          <div class="col-6">
            <div class="header-title">Vencidas</div>
            <h4 class="color-primary">{{expiredStatus}}</h4>
          </div>
          &nbsp;
          <div class="col-6">
            <div class="header-title">Completadas</div>
            <h4 class="color-primary">{{completedStatus}}</h4>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
