@import '../../../../@theme/styles/themes.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
    nb-card-body {
        color: black;
        padding-top: 1rem;
    }

    nb-card-body > div {
        padding-top: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    nb-card-footer {
        color: black;
    }

    @media screen and (max-width: 1170px) {
        nb-card-body > div {
            padding-top: 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }



    .date {
        color: nb-theme(color-secondary-300);
        padding-left: 0.5rem;
    }

}
.colorCard {
  background-color: #6e6cc9;
  border: 2px solid #827fec;

}
.colorCardPyme {
  background-color: #1c1920;
  border: 2px solid #827fec;

}

