<div *ngIf="opportunities?.length>=0">
  <ngx-opportunity-list-status [opportunities]="opportunities" [sortOptions]="sortOptions" [sortField]="sortField"
    [sortOrder]="sortOrder" [totalRecords]="totalRecords" [limitTable]="limitTable" [status]="status" [statuspyme]="statuspyme"
    (onSortChange)="onSortChange($event)" (onSearch)="onSearch($event)" (onPaginate)="onPaginate($event)"
    (onConfirmDelete)="onConfirmDelete($event)">
  </ngx-opportunity-list-status>
</div>
<p-confirmDialog #cddelete key="cddelete" [baseZIndex]="10000" [closable]="false">
    <p-footer>
        <button nbButton outline class="p-button  p-mr-2 p-mb-2 button-outline" (click)="cddelete.reject()">Cancelar
        </button>
        <button nbButton status="danger" class="p-button  p-mr-2 p-mb-2" (click)="cddelete.accept()">Eliminar
        </button>
    </p-footer>
</p-confirmDialog>