@import '../../../@theme/styles/themes.scss';

.fondo {
  background: url('../../../../assets/images/marketpublic.png') no-repeat center left
    fixed;
  background-color: #807ee8;
}

.market-public {
  flex: 0 0 100%;
  max-width: 80%;
  margin-left: 25%;
  padding-top: 0;
  padding-right:0;
}
