@import 'themes';

.mat-step-header .mat-step-icon-selected {
    background-color: nb-theme(color-basic-900);
    font-family: nb-theme(font-family-primary);
    font-weight: nb-theme(font-weight-semi-bold);
}
