@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,500,700,900&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';
@import './layout_body.scss';
@import './sidebar.scss';
@import './header.scss';
@import './card.scss';
@import './input.scss';
@import './data-view.scss';
@import './stepper.scss';

//Icono diver
@import './../../../assets/icomoon/_icon.scss';

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// Backgroud color
.secondary {
  background-color: nb-theme(color-secondary-300) !important;
}

.color-primary {
  color: nb-theme(color-primary-500);
}

.color-secondary {
  color: nb-theme(color-secondary-300);
}

// Label oscuro

.label-basic {
  color: nb-theme(color-basic-900) !important;
  font-size: 0.75rem !important;
  font-weight: nb-theme(font-weight-regular) !important;
}

.forgot-password {
  font-weight: nb-theme(font-weight-medium) !important;
  font-size: nb-theme(font-size-15) !important;
  color: nb-theme(color-basic-900) !important;
}

.button-icon {
  border: none !important;
  color: nb-theme(color-basic-50) !important;
}

/** ===================
Select
================ **/
.nb-theme-divergenti nb-select.size-medium button {
  padding: 0.4375rem 2.2rem 0.4375rem 0 !important;
}

.nb-theme-divergenti nb-option-list.size-medium nb-option {
  font-weight: nb-theme(font-weight-regular) !important;
  font-size: nb-theme(font-size-17) !important;
  color: nb-theme(color-basic-50) !important;
}

.nb-theme-divergenti nb-option.selected {
  background-color: nb-theme(color-secondary-500) !important;
  color: nb-theme(color-basic-50) !important;
}

.nb-theme-divergenti nb-select.appearance-outline.status-primary .select-button {
  color: nb-theme(color-basic-500) !important;
}

.nb-theme-divergenti nb-select.appearance-outline.status-basic .select-button {
    color: nb-theme(color-basic-700) !important;
}

.nb-theme-divergenti nb-select.appearance-outline.status-secondary .select-button {
    background-color: transparent;
    border-color: #ffffff;
    color: #d62525;
}

.nb-theme-divergenti nb-card-body {
  padding-left: 1.5rem !important;
  padding-bottom: 2rem !important;
}
// Normal select

select {
  word-wrap: normal;
  background-color: transparent !important;
  padding: 0.7rem 2.2rem 0.4375rem 0 !important;
  border-width: 0 0 0.06rem !important;
  border-color: nb-theme(color-basic-900) !important;
  color: nb-theme(color-basic-900) !important;
}

select:focus {
  outline: none;
}

// Iconos
.icon-basic-900 {
  color: nb-theme(color-basic-900) !important;
}

.icon-basic-50 {
  color: nb-theme(color-basic-50) !important;
}

.badge-achievement {
  //top, right, down, left
  margin: 0 10px 0 0;
  display: inline-block;
  padding: 1em 0.5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.badge {
  border-radius: nb-theme(border-radius);
}

.badge-success {
  background-color: nb-theme(color-secondary-300);
}

.badge-primary {
  background-color: nb-theme(color-primary-600);
}

.badge-danger {
  background-color: #ff3d71;
}

// input phone
.iti {
	display: block !important;
	margin-bottom: 20px;
}

.iti .dropdown-menu.country-dropdown {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-color: #c7cace;
	margin-top: -1px;
}

.iti .iti__country-list {
	box-shadow: none;
	font-size: 14px;
	margin-left: 0;
	width: 244px;
	max-height: 170px;
}

.iti__flag-container.open + input {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.iti .search-container input {
	font-size: 14px;
	border-color: #c7cace;
	border-radius: 0;
	padding: 5px 10px;
}

.iti .search-container input:focus {
	outline: none;
}

@media screen and (max-width: 479px) {
	.iti .iti__country-list {
		width: 88.3vw;
	}
}

ngx-intl-tel-input input {
	height: 44px;
  width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border-style: solid;
  border-width: 0 0 2px;
	border-color: #ffffff;
	border-radius: 4px;
	font-size: 18px;
	background-color: black;
  color: rgb(255, 255, 255);

}

ngx-intl-tel-input.ng-invalid.ng-touched input {
	border: 1px solid #c0392b;
 }

ngx-intl-tel-input input:hover {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

ngx-intl-tel-input input:focus {
	outline: none !important;
	border-color: #3498db;
	box-shadow: 0 0 0 0 rgb(247, 54, 54);
}

ngx-intl-tel-input input::-webkit-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
	background-color: rgb(255, 254, 254);
}

.sort {
  width: 25vw;
}
.search {
  width: 25vw;
}

@include media-breakpoint-down(md) {
  .sort {
      width: 21vw;
  }
  .search {
      width: 21vw;
  }
}

@include media-breakpoint-down(sm) {
  .sort {
      width: 100vw;
      padding-bottom: 1rem;
  }
  .search {
      width: 100vw;
  }
}
.nb-theme-divergenti [nbInput].size-medium {
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  padding-left: 1%;
  padding-right: 1%;
}
.nb-theme-divergenti nb-radio .outer-circle {
  display: none;
}
.nb-theme-divergenti nb-radio .outer-circle:checked {
  display: none;
}
.nb-theme-divergenti nb-radio .text {
  color: nb-theme(color-secondary-230) !important;
  font-family: sans-serif;
  font-size: large;
  border: 2px solid nb-theme(color-secondary-230) !important;
  border-radius: 20px;
  padding: 6px;
  text-align: center !important;
  align-content: center !important;
  cursor: pointer;
  width: 100% !important;
  height: 2.5rem;
  margin-left: 0 !important;
}
.nb-theme-divergenti nb-radio label {
  color: nb-theme(color-basic-50) !important;
  // background-color: red !important;
  width: 100% !important;
  // width: 120%;
  padding: 6px -10px 6px 0 !important;
  padding-right: 0 !important;
  // margin-left: -5% !important;
}
.nb-theme-divergenti nb-radio.status-primary .native-input:enabled:checked ~ .inner-circle {
  display: none;
  padding: -1px;
}
.nb-theme-divergenti nb-radio.status-primary .native-input:enabled:checked ~ .outer-circle {
  display: none;
  padding: -1px;
}
.nb-theme-divergenti nb-radio.status-primary .native-input:enabled:checked ~ .text {
  background-color: nb-theme(color-secondary-300) !important;
  color: nb-theme(color-basic-50) !important;
}
.nb-theme-divergenti nb-user.size-giant .user-picture {
  height: 7rem;
  width: 7rem;
  border: #827fec solid 4px;
}
.nb-theme-divergenti nb-badge.status-info {
  color: #9cd53a;
  background-color: #9cd53a;
}

.nb-theme-divergenti nb-radio.status-primary .native-input ~ .text {
  width: 100% !important;
}
[dir=ltr] [_nghost-lqw-c199] label[_ngcontent-lqw-c199] {
  padding-right: 0 !important;
}

.nb-theme-divergenti nb-card {
  background-color: #8282e9;
  border: 0.0625rem solid transparent;
  border-radius: 1rem;
  box-shadow: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-bottom: 1.875rem;
  scrollbar-face-color: transparent;
  scrollbar-track-color: transparent;
}

.nb-theme-divergenti nb-progress-bar.status-primary .progress-container {
  background-color: #5b5aa7;
  height: 8vh !important;
  -webkit-clip-path: polygon(0 0, 92% 0, 100% 50%, 92% 100%, 0 99%, 8% 50%);
  clip-path: polygon(0 0, 92% 0, 100% 50%, 92% 100%, 0 99%, 8% 50%);
  opacity: 50%;
}
.nb-theme-divergenti nb-progress-bar.status-primary .progress-container {
  background-color: #7f79eb;
  height: 8vh !important;
  clip-path: polygon(0 0, 92% 0, 100% 50%, 92% 100%, 0 99%, 8% 50%);
}
.nb-theme-divergenti nb-progress-bar .progress-value {
  display: flex;
  justify-content: right;
  transition-property: width, background-color;
}
.completed-bar {
  // background: linear-gradient(to left,#72f7bd,  #bbb9ee(228, 66, 66));
  background-color: #9fffd5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0;
  transition: width 2s ease 0.4s;
  padding: 0 8px;
  &__dashed {
    width: 100%;
    border: 10px dashed #9fffd5;
  }
  &__truck {
    font-size: 5rem;
    margin-left: 4px;
  }
}
.nb-theme-divergenti nb-actions.size-tiny nb-action {
  font-size: 0.625rem;
  height: 1rem;
  padding: 0 0.25rem;
}

.nb-theme-divergenti nb-tabset .tab-link::before {
  background-color: #aeabb5;
  height: 7px;
}
//--------------------------------------------PYME GLOBAL ----------------------------------------------//
.nb-theme-divergenti .icons-pyme nb-action nb-icon {
  color: nb-theme(color-secondary-240) !important;;
}

.nb-theme-divergenti [nbInput].status-basic.inputSearchPyme {
  color: #adacaf !important;
  background-color: #35313a;
  border-radius: 20px;
}


.nb-theme-divergenti [nbInput].status-basic.inputOportunityPyme {
  color: #adacaf !important;
  background-color: transparent;
  border-color: #adacaf;
}



.nb-theme-divergenti [nbInput].status-basic.inputSearchTalent {
  color: white !important;
  background-color: #6e6cc9;
  border-radius: 20px;
}
.nb-theme-divergenti [nbInput].status-basic.inputSearchTalent ::placeholder {
  color: white !important;
}
.nb-theme-divergenti nb-select.appearance-outline.status-basic.select-pyme .select-button {
  color: #f7f6fd !important;
}
.nb-theme-divergenti nb-select.appearance-outline.status-basic.select-pyme-market .select-button {
  color: #adacaf !important;
  background-color: #35313a;
  border-radius: 20px;
}
.nb-theme-divergenti nb-select.appearance-outline.status-basic.select-talent-market .select-button {
  color: white !important;
  background-color: #6e6cc9;
  border-radius: 20px;
}
.nb-theme-divergenti  nb-select.appearance-outline.status-basic.select-pyme .select-button nb-icon {
  color: #f7f6fd;
}

.nb-theme-divergenti nb-tabset.tab-pyme .tab.active .tab-link::before {
  background-color:#9fffd5;
}

.nb-theme-divergenti nb-tabset.tab-pyme .tab.active .tab-link {
  background-color: transparent;
  color: white;
}

.nb-theme-divergenti nb-tabset.tab-pyme .tab-link {
  background-color: transparent;
  cursor: pointer;
  padding: 1rem 2rem;
  color: #5e9189;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  text-transform: uppercase;
}
.nb-theme-divergenti nb-tabset.tab-pyme .tab:hover .tab-link {
  color: white;
  background-color: transparent;
}

.nb-theme-divergenti nb-user.pyme-user .user-name {
  color: white;
  font-family: Montserrat;
  font-weight: 600;
}
.nb-theme-divergenti nb-select.appearance-outline.status-basic.select-pyme-market .select-button nb-icon {
  color: white;
}
.nb-theme-divergenti nb-select.appearance-outline.status-basic.select-talent-market .select-button nb-icon {
  color: white;
}

//--------------------------------------------TALENT GLOBAL ----------------------------------------------//


.nb-theme-divergenti nb-select.appearance-outline.status-basic.select-talent .select-button {
  color: #9fffd5 !important;
}
.nb-theme-divergenti  nb-select.appearance-outline.status-basic.select-talent .select-button nb-icon {
  color: #9fffd5;
}

