<p-dialog header="Ingresar dirección" [(visible)]="displayWallet" [modal]="true" [closable]="false" [draggable]="false">
    <div class="modal-wallet">
        <div>
            <p>Registra la dirección de tu wallet para recibir las recompensas en DIVER</p>
        </div>

        <form [formGroup]="formWallet" (ngSubmit)="save()" aria-labelledby="title">
            <div class="form-group">
                <label class="label-basic" for="input-walletAddress">Dirección<span class="text-danger">*</span></label>
                <input nbInput fullWidth formControlName="walletAddress" placeholder="Ingrese dirección de wallet"
                    id="input-walletAddress">
                <div *ngIf="formWallet.controls['walletAddress'].invalid && (formWallet.controls['walletAddress'].dirty ||
formWallet.controls['walletAddress'].touched)" class="text-danger">
                    <div *ngIf="formWallet.controls['walletAddress'].errors.required">
                        Dirección es obligatorio.
                    </div>
                </div>
                <div *ngIf="!isValid" class="text-danger">
                    <div>
                        Dirección no es válida
                    </div>
                </div>
            </div>
            <div style="padding-top: 1rem;">
                <strong>Si no tienes una wallet, descarga: <a
                        href="https://github.com/Divergenti/Divergenti-Core/releases">Divergenti Core</a> </strong>
            </div>

        </form>
    </div>
    <p-footer>
        <div class="detail-action p-grid p-jc-end">
            <button nbButton outline type="button" class=" p-mr-2 p-mb-2 button-outline" [disabled]="loading"
                (click)="onClose()">
                Cancelar
            </button>
            <button nbButton (click)="save()" status="primary" class=" p-mr-2 p-mb-2 button-outline"
                [disabled]="loading || formWallet.invalid">
                {{walletAddress?(loading?'Actualizando':'Actualizar'):(loading?'Guardando':'Guardar')}}
            </button>
        </div>
    </p-footer>
</p-dialog>