<button nbButton outline size="small" class="p-mr-2" (click)="onBack()">
    <nb-icon icon="arrow-back-outline" class="icon"></nb-icon>Volver
</button>
<nb-card style="margin-top: 2rem;">
    <nb-card-body>
        <form [formGroup]="formTemplate" aria-labelledby="title">
            <div class="row">
                <div class="form-group col-12">
                    <label class="label-basic" for="code">Código<span class="text-danger">*</span></label>
                    <select [style]="{'width':'100%' }" formControlName="code" styleClass="p-mb-2 p-mb-md-0">
                        <option [value]="null" disabled hidden>Seleccione una opción</option>
                        <!--Retroalimentación-->
                        <option value="FEEDBACK">FEEDBACK - Retroalimentación</option>
                        <!--Oportunidad asignada por pyme-->
                        <option value="OPPORTUNITY_ASSIGNED_PYME">OPPORTUNITY_ASSIGNED_PYME - Pyme asigna oportunidad</option>
                        <!--Asigna logro-->
                        <option value="ACHIEVEMENT_ASSIGNED">ACHIEVEMENT_ASSIGNED - Asginación logros</option>
                    </select>
                    <div *ngIf="formTemplate.controls['code'].invalid && (formTemplate.controls['code'].dirty ||
formTemplate.controls['code'].touched)" class="text-danger">
                        <div *ngIf="formTemplate.controls['code'].errors.required">
                            Código es obligatorio.
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <label class="label-basic" for="description">Descripción<span class="text-danger">*</span></label>
                    <textarea nbInput fullWidth formControlName="description" placeholder="Ingrese descripción"
                        id="description"></textarea>
                    <div *ngIf="formTemplate.controls['description'].invalid && (formTemplate.controls['description'].dirty ||
formTemplate.controls['description'].touched)" class="text-danger">
                        <div *ngIf="formTemplate.controls['description'].errors.required">
                            Descripción es obligatorio.
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <label class="label-basic" for="templateHtml">Plantilla HTML<span
                            class="text-danger">*</span></label>
                    <textarea nbInput fullWidth formControlName="templateHtml"
                        placeholder="Ingrese objectivo de la encuesta" id="templateHtml" rows="6"></textarea>
                    <div *ngIf="formTemplate.controls['templateHtml'].invalid && (formTemplate.controls['templateHtml'].dirty ||
formTemplate.controls['templateHtml'].touched)" class="text-danger">
                        <div *ngIf="formTemplate.controls['templateHtml'].errors.required">
                            Plantilla es obligatoria.
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="preview-html">
            <div [innerHTML]="formTemplate.get('templateHtml').value | safeHtml"></div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="detail-action p-grid p-jc-end">
            <button nbButton outline type="button" class="p-mr-2 p-mb-2 button-outline" [disabled]="loading"
                (click)="onClose()">
                Cancelar
            </button>
            <button nbButton (click)="save()" status="primary" class=" p-mr-2 p-mb-2 button-outline"
                [disabled]="loading || formTemplate.invalid ">
                {{templateEmail?(loading?'Actualizando':'Actualizar'):(loading?'Guardando':'Guardar')}}
            </button>
        </div>
    </nb-card-footer>
</nb-card>