<div *ngIf="opportunities?.length>=0">
    <ngx-opportunity-list-status [opportunities]="opportunities" [sortOptions]="sortOptions" [sortField]="sortField"
        [sortOrder]="sortOrder" [totalRecords]="totalRecords" [limitTable]="limitTable" [status]="status" [statuspyme]="statuspyme"
        (onSortChange)="onSortChange($event)" (onSearch)="onSearch($event)" (onPaginate)="onPaginate($event)"
        (onFinish)="onConfirmFinish($event)">
    </ngx-opportunity-list-status>
</div>
<p-confirmDialog #cdfinish key="cdfinish" [baseZIndex]="10000" [closable]="false">
    <p-footer>
        <button nbButton outline class="p-button  p-mr-2 p-mb-2 button-outline" (click)="cdfinish.reject()">Cancelar
        </button>
        <button nbButton status="primary" class="p-button  p-mr-2 p-mb-2" (click)="cdfinish.accept()">Finalizar
        </button>
    </p-footer>
</p-confirmDialog>