<div [formGroup]="form" style="padding-top: 2rem;">
    <label [attr.for]="question.key" class="label">{{question.label}}<span class="text-danger">*</span></label>

    <div [ngSwitch]="question.controlType" style="padding-left: 1rem;">
        <nb-radio-group [name]="question.key" [id]="question.key" *ngSwitchCase="'radio'" [formControlName]="question.key">
            <nb-radio *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</nb-radio>
        </nb-radio-group>

        <div *ngIf="form.controls[question.key].invalid && (form.controls[question.key].dirty || form.controls[question.key].touched)"
                class="text-danger">
                <div *ngIf="form.controls[question.key].errors.required">
                    Respuesta es obligatoria.
                </div>
            </div>
    </div>
</div>