@import './../../../../@theme/styles/data-view-content.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


.description {
  float: left;
  width: 40%;
  padding: 0 10px;
}

.create-date {
  float: left;
  width: 30%;
  padding: 0 10px;
}
.imagen {
  float: left;
  width: 20%;
  padding: 0 10px;
}
.icono {
  float: left;
  width: 10%;
  padding: 0 10px;
}

@include media-breakpoint-down(lg) {
  .description {
    width: 50%;
  }

  .create-date {
    margin-top: 1rem;
    width: 50%;
  }
  .imagen {
    margin-top: 1rem;
    width: 50%;
  }
  .icono {
    margin-top: 1rem;
    width: 50%;
  }

}
@include media-breakpoint-down(md) {
  .description {
    width: 100%;
  }
  .create-date {
    margin-top: 1rem;
    width: 100%;
  }
  .imagen {
    margin-top: 1rem;
    width: 100%;
  }
  .icono {
    margin-top: 1rem;
    width: 100%;
  }

}

