<nb-layout>
  <nb-layout-column class="fondo">
    <div class="row content">
      <div class="title-black col-12 col-sm-12 col-md-4 col-xl-6">
        <div class="col-12">
          <div class="row">
            <div class="col">
              <p class="divergenti">
                <span class="color">INVENTARIO <br>DE VACUNACIÓN</span><br> DE EMPLEADOS.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-primary col-12 col-sm-12 col-md-8 col-xl-6">
        <div class="arrow-up">
          <img src="../../../../assets/images/Arrow.png">
        </div>
        <div class="col-12">
          <div class="center">
            <div class="container">
              <div class="logo-login">
                <a href="#">
                  <img src="../../../../assets/images/logo-app.png" alt="App" height="60px" /></a>
              </div>
              <h1 id="title" class="title col-12">¡TE ESTABAMOS <br /> ESPERANDO!</h1>
              <div *ngIf="!noRole">

                <p class="text-color mt-3"><b> Acceder con tu cédula o con tu correo electrónico</b></p>
                <div class="">
                  <form [formGroup]="formData" (ngSubmit)="login()" aria-labelledby="title">
                    <div class="row">
                      <div class="col-12 col-md-12 col-lg-6 ">
                        <div class="form-group">
                          <!-- <label class="label" for="input-username">Username o correo electrónico<span
                          class="text-danger">*</span></label> -->
                          <input nbInput fullWidth formControlName="username" placeholder="Ingrese el nombre de usuario"
                            id="input-username" class="input-fourth">
                          <div *ngIf="formData.controls['username'].invalid && (formData.controls['username'].dirty ||
      formData.controls['username'].touched)" class="text-danger">
                            <div *ngIf="formData.controls['username'].errors.required">
                              Cédula o correo electrónico es obligatorio.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-12 col-lg-6 ">
                        <div class="form-group">
                          <!-- <span class="label-with-link">
                        <label class="label" for="input-password">Contraseña <span class="text-danger">*</span></label>
                      </span> -->
                          <nb-form-field>
                            <input nbInput fullWidth formControlName="password" placeholder="Ingrese su Contraseña"
                              [type]="showPassword?'text':'password'" id="input-password" class="input-fourth">
                            <button nbSuffix nbButton ghost type="button" (click)="toggleShowPassword()"
                              class="button-icon">
                              <nb-icon class="color-icon" [icon]="showPassword ? 'eye-off-outline' : 'eye-outline'"
                                pack="eva" [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                              </nb-icon>
                            </button>
                          </nb-form-field>
                          <div
                            *ngIf="formData.controls['password'].invalid && (formData.controls['password'].dirty || formData.controls['password'].touched)"
                            class="text-danger">
                            <div *ngIf="formData.controls['password'].errors.required">
                              Contraseña es obligatorio.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-12 col-lg-12 p-mb-2">
                        <button class="btn-ingresar" shape="round" type="submit" nbButton status="primary" [disabled]="loading"
                          style="width: 100%;">
                          {{loading?'Ingresando':'Ingresar'}}</button>
                      </div>
                    </div>
                  </form>
                  <div class="form-group col-12 col-md-12">
                    <div class="row" style="padding-top: 1rem;">
                      <!-- <span class="label-with-link ml-auto mr-3"> -->
                      <a class="forgot-password caption-2 text-color" style="margin: auto; width:100%;"
                        routerLink="./reset-password">¿Olvidaste tu
                        contraseña?</a>
                      <!-- </span> -->
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="noRole">
                <strong>Un paso más, necesitamos que nos digas si eres:</strong>
                <form [formGroup]="formRole" (ngSubmit)="updateRole()" aria-labelledby="title">
                  <div class="form-group">
                    <nb-radio-group formControlName="role" status="primary">
                      <nb-radio value="pyme">Pyme</nb-radio>
                      <nb-radio value="users">Talento</nb-radio>
                    </nb-radio-group>
                  </div>
                  <button type="submit" nbButton status="primary" [disabled]="formRole.invalid || loading"
                    style="width: 100%;">
                    {{loading?'Guardando...':'Continuar'}}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Enviar email para verfiicar-->
    <p-dialog header="Usuario no verificado" [(visible)]="validatedUser" [modal]="false" [closable]="false"
      [draggable]="false" [resizable]="false">
      <div class="modal-email">
        Reenviar correo de verificación
        <form [formGroup]="formEmail" (ngSubmit)="onSendEmail()" aria-labelledby="title" style="padding-top: 2rem;">
          <div *ngIf="!sendEmail">
            <div class="form-group">
              <label class="label-basic" for="input-email">Correo electrónico <span class="text-danger">*</span></label>
              <input nbInput fullWidth formControlName="email" placeholder="Ingrese el correo electrónico"
                id="input-email">
              <div *ngIf="formEmail.controls['email'].invalid && (formEmail.controls['email'].dirty ||
formEmail.controls['email'].touched)" class="text-danger">
                <div *ngIf="formEmail.controls['email'].errors.required">
                  Correo electrónico es obligatorio.
                </div>
                <div *ngIf="formEmail.controls['email'].errors.email">
                  Ingrese correo válido
                </div>
              </div>
            </div>
          </div>
          <h6 *ngIf="sendEmail" style="padding-top: 2rem;">Si el correo existe, recibirá un enlace para la verificación.
          </h6>
        </form>
      </div>
      <p-footer>
        <div class="detail-action p-grid p-jc-end">
          <button nbButton outline type="button" class=" p-mr-2 p-mb-2 button-outline" [disabled]="loadingSend"
            (click)="onClose()">
            {{sendEmail?'Aceptar':'Cancelar'}}
          </button>
          <button *ngIf="!sendEmail" nbButton (click)="onSendEmail()" status="primary"
            class=" p-mr-2 p-mb-2 button-outline" [disabled]="loadingSend || formEmail.invalid">
            {{loading?'Enviando':'Enviar'}}
          </button>
        </div>
      </p-footer>
    </p-dialog>
  </nb-layout-column>
</nb-layout>
