<button nbButton size="small" class="p-mr-2" (click)="onBack()">
  <nb-icon icon="arrow-back-outline" class="icon"></nb-icon>Volver
</button>
<p-dataView #dv [loading]="!isLoaded" [value]="profileCategory" filterBy="id" [sortField]="sortField"
  [sortOrder]="sortOrder" layout="list">

  <ng-template pTemplate="header" class="header-data">
    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
      <nb-select placeholder="Ordenar por usuario" (selectedChange)="onSortChange($event)">
        <nb-option *ngFor="let item of sortOptions" [value]="item.value">{{ item.label }}</nb-option>
      </nb-select>
      <!--End buscador-->
      <!-- <p-dataViewLayoutOptions class="test"></p-dataViewLayoutOptions> -->
    </div>
  </ng-template>


  <ng-template let-item pTemplate="listItem">
    <div class="p-col-12">
      <div class="item-list-item list">
        <div class="item-list-detail">
          <div class="p-grid row">
            <div class="imagen">
              <nb-user size="large" picture="data:image/jpg;base64,{{item.avatar}}" onlyPicture>
              </nb-user>
            </div>
            <div class="usuario">
              <div class="header-title">Usuario</div>
              <div class="item-list-title">
                {{item.user}}
              </div>
            </div>
            <div class="correo">
              <div class="header-title">Email</div>
              <div class="item-list-title">
                {{item.email}}
              </div>
            </div>
            <div class="fecha-inicio">
              <div class="header-title">Fecha de inicio</div>
              <div class="item-list-title">
                {{item.creation_time | date: "dd/MM/yyyy"}}
              </div>
            </div>
          </div>
        </div>
        <div class="item-list-action">
          <div class="p-col">
            <button type="button" nbButton nbTooltip="Ver talento" nbTooltipPlacement="top" size="small"
              (click)="onDetail(item)" class="p-button p-mr-2">
              <nb-icon icon="eye-outline" class="icon"></nb-icon>
            </button>
          </div>
        </div>
        <div class="item-list-action">
          <div class="p-col">
            <button type="button" nbButton nbTooltip="Proponer oportunidad" nbTooltipPlacement="top" size="small"
              (click)="onDetail(item)" class="p-button p-mr-2">
              <nb-icon icon="plus-outline" class="icon"></nb-icon>

            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
<p-paginator [rows]="limitTable" [totalRecords]="totalRecords" (onPageChange)="onPaginate($event)"></p-paginator>
<p-dialog header="Detalles" [(visible)]="displayDetail" [modal]="true" [closable]="false" [draggable]="false"
  [resizable]="false">
  <div class="modal-match">
    <ngx-match-form *ngIf="profile" [categoryProfile]="profile">
    </ngx-match-form>
  </div>
  <p-footer>
    <button nbButton status="primary" class="p-button  p-mr-2 p-mb-2" (click)="displayDetail=false">Aceptar
    </button>
  </p-footer>
</p-dialog>
