<div class="profile-talent">

  <h1 style="padding-left: 2%; color: #9fffd5; margin: 0 0 5% 0;">PERFIL EMPLEADO {{user}}</h1>
  <p-dialog *ngIf="displayProfileUser" header="Actualizar el perfil" [(visible)]="displayProfileUser" [modal]="true"
    [closable]="false" [draggable]="false" [resizable]="false">

    <ngx-profile-form-pyme [dataProfile]=dataEmpleado (closeModal)="onClose()" (success)="onSuccess()">
    </ngx-profile-form-pyme>
  </p-dialog>
  <button nbButton size="small" class="p-mr-2" (click)="onUpdate(dataEmpleado)"
    style="right: 0; background-color: #9fffd5; color: #5b5aa7; margin-bottom: 1.5rem;">
    <nb-icon icon="edit-2-outline" class="icon"></nb-icon>Editar Perfil
  </button>
  <div class="card-row">
    <div class="col-12 col-lg-12">
      <nb-card size="large" class="colorCard">
        <nb-card-body>
          <p style="color: #9fffd5;">DATOS PRINCIPALES</p>

          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="info-user">
                <div class="mb-2">

                  <nb-icon class="mr-2" icon="person-outline"> </nb-icon> <label nbTooltip="Empleado"
                    nbTooltipPlacement="top">{{user}}</label>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="info-user">
                <div class="mb-2">
                  <nb-icon class="mr-2" icon="credit-card-outline"> </nb-icon> <label nbTooltip="Cédula de Identidad"
                    nbTooltipPlacement="top">{{dataUser.user}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="info-user">
                <div class="mb-2">
                  <nb-icon class="mr-2" icon="email-outline"> </nb-icon><label nbTooltip="Correo electrónico"
                    nbTooltipPlacement="top">{{dataUser.email}}</label>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="info-user">
                <div class="mb-2">
                  <nb-icon class="mr-2" icon="phone-call-outline"> </nb-icon><label nbTooltip="Teléfono"
                    nbTooltipPlacement="top">{{dataEmpleado.telefono}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-12">
              <div class="info-user">
                <div class="mb-2">
                  <nb-icon class="mr-2" icon="pin-outline"> </nb-icon><label nbTooltip="Domicilio del Empleado"
                    nbTooltipPlacement="top"> {{dataEmpleado.domicilio}}</label>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <p style="color: #9fffd5;">DATOS VACUNA</p>
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="info-user">
                <div class="mb-2">

                  <nb-icon class="mr-2" icon="file-add-outline"> </nb-icon> <label nbTooltip="Recibio la Vacuna"
                    nbTooltipPlacement="top"> {{vacunado}}</label>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="info-user">
                <div class="mb-2">
                  <nb-icon class="mr-2" icon="file-text-outline"> </nb-icon><label nbTooltip="Tipo Vacuna"
                    nbTooltipPlacement="top"> {{dataEmpleado.tipoVacuna}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="info-user">
                <div class="mb-2">

                  <nb-icon class="mr-2" icon="calendar-outline"> </nb-icon><label nbTooltip="Fecha de Nacimiento"
                    nbTooltipPlacement="top"> {{dataEmpleado.fechaNacimiento | date: "dd/MM/yyyy"}}</label>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="info-user">
                <div class="mb-2">
                  <nb-icon class="mr-2" icon="calendar-outline"> </nb-icon><label nbTooltip="Fecha de Vacunación"
                    nbTooltipPlacement="top"> {{dataEmpleado.fechaVacunacion | date:
                    "dd/MM/yyyy"}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="info-user">
                <div class="mb-2">
                  <nb-icon class="mr-2" icon="person-done-outline"> </nb-icon> <label nbTooltip="Número Docis"
                    nbTooltipPlacement="top">{{nroDocisValue}}</label>
                </div>
              </div>
            </div>
          </div>

        </nb-card-body>
      </nb-card>
    </div>

  </div>


  <p-dialog header="Detalles del logro" [(visible)]="displayDetail" [modal]="true" [closable]="false"
    [draggable]="false" [resizable]="false">
    <i [class]="dataAchievemet.icon"> </i>
    <h6>Fecha de creación: </h6>
    <div class="header-title">{{dataAchievemet.creation_time | date: "dd/MM/yyyy"}}</div>
    <h6>Descripción: </h6>
    <div class="header-title">{{dataAchievemet.description}}</div>

    <p-footer>
      <button nbButton status="primary" class="p-button  p-mr-2 p-mb-2" (click)="displayDetail=false">Aceptar
      </button>
    </p-footer>
  </p-dialog>
</div>
