<div class="modal-create">
  <form id="form" [formGroup]="formData" (ngSubmit)="Register()" novalidate>
    <!-- <div class="modal-complete"> -->

    <div class="row" style="margin: 0;">
      <div class="form-group col-12 col-md-6">
        <div class="form-control-group">
          <label class="label-basic" for="input-nroDocis">ESTADO</label>

          <select [style]="{'width':'100%' }" formControlName="estadoVacunacion" styleClass="p-mb-2 p-mb-md-0">
            <option [value]="null" disabled hidden>Seleccione una docis</option>
            <option [value]=false>No Vacunado</option>
            <option [value]=true>Vacunado</option>
          </select>
        </div>
      </div>
      <div class="form-group col-12 col-md-6">
        <div class="form-control-group">
          <label class="label-basic" for="input-domicilio">CIUDAD/DIRECCIÓN<span class="text-danger">*</span></label>
          <input nbInput fullWidth formControlName="domicilio" placeholder="Ingrese su ciudad" id="input-city">
          <div *ngIf="formData.controls['domicilio'].invalid && (formData.controls['domicilio'].dirty ||
                            formData.controls['domicilio'].touched)" class="text-danger">
            <div *ngIf="formData.controls['domicilio'].errors.required">
              Ciudad es obligatorio.
            </div>
            <div *ngIf="formData.controls['domicilio'].errors.maxlength">
              Maximo de caracteres
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 0;" >

      <div class="form-group col-12 col-md-4">
        <label class="label-basic" for="input-telefono">TELÉFONO <span class="text-danger">*</span></label>
        <input nbInput fullWidth formControlName="telefono" placeholder="Teléfono" id="input-city">
      </div>
      <div class="form-group col-12 col-md-4">
        <div class="form-control-group">
          <label class="label-basic" for="input-tipoVacuna">TIPO VACUNA</label>
          <input nbInput fullWidth formControlName="tipoVacuna" placeholder="Ingrese su tipo Vacuna"
            id="input-instagram">
        </div>
      </div>

      <div class="form-group col-12 col-md-4">
        <div class="form-control-group">
          <label class="label-basic" for="input-nroDocis">DOCIS</label>

          <select [style]="{'width':'100%' }" formControlName="nroDocis" styleClass="p-mb-2 p-mb-md-0">
            <option [value]="null" disabled hidden>Seleccione una docis</option>
            <option [value]="1">Primera Docis</option>
            <option [value]="2">Segunda Docis</option>
            <option [value]="3">Tercera Docis</option>
          </select>

        </div>
      </div>

      <!-- <div class="form-group col-12 col-md-6">
          <label class="label-basic" for="input-fechaVacunacion">FECHA DE VACUNACIÓN</label>
          <input nbInput fullWidth formControlName="fechaVacunacion" placeholder="Ingrese Fecha de Vacunación"
 id="input-fechaVacunacion" [nbDatepicker]="fechaVacunacion">
          <nb-datepicker #fechaVacunacion  ></nb-datepicker>
        </div>

      <div class="form-group col-12 col-md-6">
          <label class="label-basic" for="input-fechaNacimiento">FECHA DE NACIMIENTO</label>
          <input nbInput fullWidth formControlName="fechaNacimiento" placeholder="Ingrese Fecha de Nacimiento"
 id="input-fechaNacimiento" [nbDatepicker]="fechaNacimiento" readonly>
          <nb-datepicker #fechaNacimiento format="MM/dd/yyyy" ></nb-datepicker>
        </div> -->

    </div>
    <br>

    <div style="text-align: right; margin: 1rem;" >
      <button nbButton size="small" class="p-mr-2" style="right: 0; background-color: #9fffd5; color: #807ee8;"
        [disabled]="!formData.valid || loading " form="form" type="submit" outline>
        <nb-icon icon="save" pack="font-awesome-solid" class="icon-size"></nb-icon>
        Actualizar
      </button>
      <button nbButton size="small" class="p-mr-2 button-outline" type="button"
        style="right: 0; background-color: #807ee8; color: #9fffd5;" [disabled]="loading" (click)="onClose()"
        form="form" outline>
        <nb-icon icon="save" pack="font-awesome-solid" class="icon-size"></nb-icon>
        Cancelar
      </button>
    </div>


  </form>
</div>
