@import '../../../../@theme/styles/themes.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

nb-card-body {
    color: black;
    padding-top: 1rem;
}

nb-card-footer {
    color: black;
}

.category {
    color: nb-theme(color-primary-350);
    font-weight: bold;
    padding-left: 1rem;
}
.icons-card {
  padding: 0%;
}
.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0 10px;
    float: left;
    width: 100%;
    color: white;
}

.description {
    margin-top: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0 10px;
    float: left;
    width: 100%;
    color: white;
}
.payment {
    color: nb-theme(color-secondary-300);
}
.payment-talent {
    color: nb-theme(color-basic-50);
}

.expiration {
    color: nb-theme(color-secondary-300);
}
.expiration-talent {
    color: nb-theme(color-basic-50);
}

.expiration-danger {
    color: #ff3d71;
}

.mode {
    padding: 0.4rem;
}

.assigned:hover {
    background-color: nb-theme(color-primary-500);
    border-radius: 8px;
}

.email {
    font-weight: 500;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.row {
    margin: 0 -5px;
}

.date-start-col {
    width: 36%;
    padding: 0 10px;
}

.date-end-col {
    width: 36%;
    padding: 0 10px;
}

.payment-col {
    width: 50%;
    padding: 0 10px;
}
.mode-col {
    width: 50%;
    padding: 0 10px;
}
.button-col-pyme {
    width: 100%;
    text-align: right;
}
.calificar-col-pyme {
    width: 28%;
    padding: 5px 12px;
}
.logro-col-pyme {
    float: left;
    width: 28%;
    padding: 0 12px;
}

.user-col {
    width: 28%;
}

.card {
    height: 20vw;
}

.card-talent {
  max-height: 17.5rem;
}

.card-pyme {
  max-height: 17.5rem;
}

.modal-user {
    width: 40vw;
}

@include media-breakpoint-down(xl) {
    .card {
        height: 32vw;
        width: 100%;
    }
    .card-pyme {
        height: 10vw;
        width: 100%;
    }
    .payment-col {
        width: 50%;
    }
    .user-col {
        width: 50%;
    }
}

@include media-breakpoint-down(md) {
    .card {
        width: 100%;
        height: 100%;
    }
    .card-pyme {
        width: 100%;
        height: 100%;
    }
    .payment-col {
        width: 100%;
    }
    .user-col {
        width: 100%;
    }
}

@include media-breakpoint-down(sm) {
    .date-start-col {
        width: 100%;
    }

    .date-end-col {
        width: 100%;
    }

    .modal-user {
        width: 80vw;
    }
}

.colorCard {
  background-color:#1c1920;
  border: 2px solid #827fec;
}
.colorCard-talent {
  background-color: #6e6cc9;
  border: 2px solid #9fffd5;

}
