<button nbButton size="small" class="p-mr-2" (click)="onCreate()">
  <nb-icon icon="plus-outline" class="icon"></nb-icon>Nuevo logro
</button>
<!--Crear-->
  <ngx-achievement-form *ngIf="achievement && displayCreate" (closeModal)="onClose()" (success)="onSuccess()"
    [displayCreate]="displayCreate"
    [achievement]="achievement"></ngx-achievement-form>
  <ngx-achievement-form *ngIf="!achievement && displayCreate" (closeModal)="onClose()"
    (success)="onSuccess()" [displayCreate]="displayCreate">
  </ngx-achievement-form>

<!--Lista-->
<div style="margin-top: 1rem;">
  <ngx-achievement-list (updateEvent)="onUpdate($event)">
    </ngx-achievement-list>
</div>