<p-dialog [header]="(reward?'Actualizar ':'Nuevo') +' cuestionario'" [(visible)]="displayCreate" [modal]="true"
    [closable]="false" [draggable]="false" [resizable]="false">

    <div class="modal-create">
        <form [formGroup]="formReward" (ngSubmit)="save()" aria-labelledby="title">
            <div class="modal-complete">
                <!--Incluir style cuando se usa modal y hay varias opciones-->
                <div class="row">
                    <div class="form-group col-12">
                        <label class="label-basic" for="input-description">Descripción<span
                                class="text-danger">*</span></label>
                        <input nbInput fullWidth formControlName="description"
                            placeholder="Ingrese descripción de la recompensa" id="input-description">
                        <div *ngIf="formReward.controls['description'].invalid && (formReward.controls['description'].dirty ||
formReward.controls['description'].touched)" class="text-danger">
                            <div *ngIf="formReward.controls['description'].errors.required">
                                Descripción es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="form-group  col-12 col-md-6">
                        <label class="label-basic" for="input-path">Path<span class="text-danger">*</span></label>
                        <input nbInput fullWidth formControlName="path"
                            placeholder="Ingrese path de la recompensa, ejemplo: api/reward/:id" id="input-path">
                        <div *ngIf="formReward.controls['path'].invalid && (formReward.controls['path'].dirty ||
formReward.controls['path'].touched)" class="text-danger">
                            <div *ngIf="formReward.controls['path'].errors.required">
                                Path es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label class="label-basic" for="input-amount">Monto en DIVER<span
                                class="text-danger">*</span></label>
                        <input nbInput fullWidth formControlName="amount" type="number" min="1"
                            placeholder="Ingrese cantidad de DIVER" id="input-amount">
                        <div *ngIf="formReward.controls['amount'].invalid && (formReward.controls['amount'].dirty ||
formReward.controls['amount'].touched)" class="text-danger">
                            <div *ngIf="formReward.controls['amount'].errors.required">
                                Monto en DIVER es obligatorio.
                            </div>
                            <div *ngIf="formReward.controls['amount'].errors.min">
                                Monto en DIVER debe ser mayor a 0
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label class="label-basic" for="input-specialReward">Especial<span
                                class="text-danger">*</span></label>
                        <nb-radio-group name="specialReward" formControlName="specialReward">
                            <nb-radio [value]="false">El path se utiliza específicamente para una acción</nb-radio>
                            <nb-radio [value]="true" [nbTooltip]="specialRewardTooltip">
                                En path se utiliza para varias acciones</nb-radio>
                        </nb-radio-group>
                        <div *ngIf="formReward.controls['specialReward'].invalid && (formReward.controls['specialReward'].dirty ||
formReward.controls['specialReward'].touched)" class="text-danger">
                            <div *ngIf="formReward.controls['specialReward'].errors.required">
                                Especial es obligatorio.
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12 col-md-6">
                        <label class="label-basic" for="input-ever">Repetitiva<span class="text-danger">*</span></label>
                        <nb-radio-group formControlName="ever">
                            <nb-radio name="ever" [value]="true"
                                nbTooltip="Eje: Cada vez que llene una encuesta, o cumpla el mismo objectivo">
                                Se otorga cada vez que lo haga
                            </nb-radio>
                            <nb-radio [value]="false"
                                nbTooltip="Eje: Registrar wallet, si vuelve hacerlo no se otorga recompensa">
                                Se otorga en única ocasión
                            </nb-radio>
                        </nb-radio-group>
                        <div *ngIf="formReward.controls['ever'].invalid && (formReward.controls['ever'].dirty ||
formReward.controls['ever'].touched)" class="text-danger">
                            <div *ngIf="formReward.controls['ever'].errors.required">
                                Repetitiva es obligatorio.
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12 col-md-6">
                        <label class="label-basic" for="input-active">Activa<span class="text-danger">*</span></label>
                        <br>
                        <nb-toggle formControlName="active" [(checked)]="formReward.value.active"></nb-toggle>
                        <div *ngIf="formReward.controls['active'].invalid && (formReward.controls['active'].dirty ||
formReward.controls['active'].touched)" class="text-danger">
                            <div *ngIf="formReward.controls['active'].errors.required">
                                Activa es obligatorio.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <p-footer>
        <div class="detail-action p-grid p-jc-end">
            <button nbButton outline type="button" class=" p-mr-2 p-mb-2 button-outline"
                [disabled]="loading" (click)="onClose()">
                Cancelar
            </button>
            <button nbButton (click)="save()" status="primary" class=" p-mr-2 p-mb-2 button-outline"
                [disabled]="loading || formReward.invalid">
                {{reward?(loading?'Actualizando':'Actualizar'):(loading?'Guardando':'Guardar')}}
            </button>
        </div>
    </p-footer>
</p-dialog>