<div class="profile-talent">

  <h1 style="padding-left: 2%; color: #9fffd5; margin: 0 0 5% 0;">PERFIL EMPLEADO {{user}}</h1>
  <p-dialog *ngIf="displayProfileUser" header="Actualizar el perfil" [(visible)]="displayProfileUser" [modal]="true"
    [closable]="false" [draggable]="false" [resizable]="false">
    <ngx-profile-form-pyme [dataProfile]=profile (closeModal)="onClose()" (success)="onSuccess()">
    </ngx-profile-form-pyme>
  </p-dialog>
  <button nbButton size="small" class="p-mr-2" (click)="onUpdate(profile)"
    style="right: 0; background-color: #9fffd5; color: #5b5aa7; margin-bottom: 1.5rem;">
    <nb-icon icon="edit-2-outline" class="icon"></nb-icon>Editar Perfil
  </button>
  <div class="card-row">
    <div class="col-12 col-lg-12">
      <nb-card size="medium" class="colorCard">
        <nb-card-body>
          <p style="color: #9fffd5;">DATOS EMPLEADO</p>

         <div class="row">
          <div class="col-12 col-lg-6">
            <div class="info-user">
              <div class="mb-2">

                <nb-icon class="mr-2" icon="person-outline"> </nb-icon> {{user}}
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="info-user">
              <div class="mb-2">
                <nb-icon class="mr-2" icon="email-outline"> </nb-icon> {{email}}
              </div>
            </div>
          </div>
         </div>

         <div class="row">
          <div class="col-12 col-lg-6">
            <div class="info-user">
              <div class="mb-2">
                <nb-icon class="mr-2" icon="pin-outline"> </nb-icon> {{profile.city}}
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="info-user">
              <div class="mb-2">
                <nb-icon class="mr-2" icon="email-outline"> </nb-icon> {{email}}
              </div>
            </div>
          </div>
         </div>
         <div class="row">
          <div class="col-12 col-lg-6">
            <div class="info-user">
              <div class="mb-2">

                <nb-icon class="mr-2" icon="person-outline"> </nb-icon> {{user}}
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="info-user">
              <div class="mb-2">
                <nb-icon class="mr-2" icon="email-outline"> </nb-icon> {{email}}
              </div>
            </div>
          </div>
         </div>

        </nb-card-body>
      </nb-card>
    </div>

  </div>


  <p-dialog header="Detalles del logro" [(visible)]="displayDetail" [modal]="true" [closable]="false"
    [draggable]="false" [resizable]="false">
    <i [class]="dataAchievemet.icon"> </i>
    <h6>Fecha de creación: </h6>
    <div class="header-title">{{dataAchievemet.creation_time | date: "dd/MM/yyyy"}}</div>
    <h6>Descripción: </h6>
    <div class="header-title">{{dataAchievemet.description}}</div>

    <p-footer>
      <button nbButton status="primary" class="p-button  p-mr-2 p-mb-2" (click)="displayDetail=false">Aceptar
      </button>
    </p-footer>
  </p-dialog>
</div>
