@import './../../../@theme/styles/data-view-content.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css');
@import './../../../@theme/styles/themes.scss';

// scroll horizontal
.wrapper {
  max-height: 12vh;
  border: none;
  display: flex;
  overflow-x: auto;
}
.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper .item:hover {
  transform: scale(1.2);
}
.wrapper .item {
  padding-top: 10px;
  width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  margin-right: 2px;
}
.pos-frente-img {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding-left: 0.5vw;
}
.profile-talent {
  flex: 0 0 100%;
  max-width: 80%;
  margin-left: 5%;
  padding-top: 0;
  padding-right: 0;
}

:host {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

.fa {
  padding: 5px;
  font-size: 25px;
  width: 40px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #9fffd5;
  color: #5b5aa7;
}
.fa-github {
  background: #9fffd5;
  color: #5b5aa7;
}
.fa-globe {
  background: #9fffd5;
  color: #5b5aa7;
}

.fa-instagram {
  background: #9fffd5;
  color: #5b5aa7;
}

.title {
  text-align: left;
  padding-bottom: 1.5rem;
}

@include media-breakpoint-down(xxxl) {
  .card-row {
    display: flex;
    margin: 0 -0.9rem;
  }
  .container {
    padding: 0 0.3vw;
  }
}
// @include media-breakpoint-down(xl) {
//   .card-row {
//     display: flex;
//     margin: 0 -0.9rem;
//   }
// }

@include media-breakpoint-down(lg) {
  .card-row {
    display: flex;
    margin: 0 -0.9rem;
  }
  .profile-talent {
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 0;
    padding-right: 0;
  }
}

@include media-breakpoint-down(md) {
  .card-row {
    display: flex;
    margin: 0;
  }
  .profile-talent {
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 0;
    padding-right: 0;
  }

  .c-container-t {
    margin-bottom: 0;
    max-width: 80px;
    // position: fixed;
  }
  .pos-frente {
    margin-bottom: 20%;
    padding-top: 1.5vh !important;
  }
}
@include media-breakpoint-down(xs) {
  .card-row {
    display: flex;
    margin: 0;
  }
  .profile-talent {
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 0;
    padding-right: 0;
  }

  .c-container-t {
    margin-bottom: 0;
    max-width: 80px;
    // position: fixed;
  }
  .pos-frente {
    margin-bottom: 20%;
    padding-top: 1.5vh !important;
  }
  .walletValue {
    color: white;
    font-size: 1rem !important;
    font-weight: 600 !important;
  }
  .userDiv {
    padding: 0% !important;
  }
  .vertical {
   display: none !important;
  }
}
@include media-breakpoint-down(sm) {
  .c-container-t {
    margin-bottom: 0;
    max-width: 80px;
    margin-left: -3vh !important;
  }
  .pos-frente {
    margin-bottom: 20%;
    padding-top: 10% !important;
  }
  .text-header {
    margin-top: 50%;
  }
}

.colorCard {
  background-color: #6e6cc9;
  border: 2px solid #9fffd5;
}

.info-user {
  margin: 7% 6% 0 10px;
  border-bottom: 2px solid white;
  color: #8883b8;
}

.hexagon {
  width: 100px;
  height: 57.735px;
  background: #5f5faa;
  position: relative;
}
.hexagon::before {
  content: '';
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 28.8675px solid #5f5faa;
}
.hexagon::after {
  content: '';
  position: absolute;
  bottom: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28.8675px solid #5f5faa;
}

// hexagono
.text-color {
  color: nb-theme(color-basic-50);
  font-weight: 600px;
  font-size: 2rem;
}

.text-header {
  margin-top: 3vh;
  margin-left: -1.5vw;
  color: #93cbdd !important;
  font-weight: 700;
}

.pos-fondo {
  position: relative;
  display: block;
  transform: scale(0.8);
  margin-right: -0.8vw;
}
.pos-frente {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding-top: 10% !important;
  top: 55%;
  transform: translateY(-50%);
}
img.tam {
  width: 80px;
  height: 67px;
}
.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.h-divider {
  width: 127%;
  position: relative;
  background-color: black;
  margin-left: -12%;
  overflow: hidden;
  height: 2px;
}

.text-header-top {
  font-size: small !important;
  font-weight: 700;
  max-height: 3vh;
  padding-top: -2%;
}
@media (max-width: 767.98px) {
  .pos-frente {
    padding-top: 0 !important;
  }
  .text-header {
    margin-top: 1.5vh;
    font-size: revert;
  }
  .text-color {
    padding-top: 1.5vh !important;
  }
  .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
.tam {
  width: 80px;
  height: 67px;
}
.c-progress {
  margin-left: 2vw !important;
}
.pos-n-frente {
  position: relative;
  z-index: 1;
  transform: scale(0.1) !important;
}
//arrow

.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: transparent;
  cursor: default;
  margin: 0 3px;
  padding: 10px 10px 10px 30px;
  min-width: 10px;
  float: left;
  position: relative;
  background-color: #8eb8e0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
}
.arrow-steps .step::after,
.arrow-steps .step::before {
  content: '';
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 17px solid #8eb8e0;
  z-index: 2;
  transition: border-color 0.2s ease;
}
.arrow-steps .step::before {
  right: auto;
  left: 0;
  border-left: 17px solid #6e6cc9;
  z-index: 0;
}
.arrow-steps .step:first-child::before {
  border: none;
}
.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.arrow-steps .step span {
  position: relative;
}

.arrow-steps .step.current {
  color: transparent;
  background-color: #9efed4;
}
.arrow-steps .step.current::after {
  border-left: 17px solid #9efed4;
}
@media (max-width: 765px) {
  .arrow-steps .step {
    min-width: 35px;
  }
}
// hasta aqui bien
h6 span {
  display: block;
}

.span-vertical {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
.vertical {
  width: 9px;
  font-size: 10px;
  padding: 0;
  word-wrap: break-word;
  color: white;
  line-height: 11px;
}

.walletValue {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}

.userDiv {
  padding-left: 5%;
}
